Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, nuxt, nuxt-module, stylify

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  autoprefixer:
    paths:
      - packages/autoprefixer/
  bundler:
    paths:
      - packages/bundler/
  nuxt:
    paths:
      - packages/nuxt/
  nuxt-module:
    paths:
      - packages/nuxt-module/
  stylify:
    paths:
      - packages/stylify/

Update to 0.5.31
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Windows and macos unit tests
  .github/workflows/tests.yaml
  packages/bundler/src/Bundler.ts
  tests/TestUtils.ts
Due: bundler

tmp
  .github/workflows/tests.yaml
  .npmrc
  pnpm-workspace.yaml
Due: none

f
  .npmrc
  package.json
Due: none

refactor: Remove return this
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

refactor: Rename replaceVariablesByCssVariables to cssVariablesEnabled and set it to true by default.
  .github/workflows/tests.yaml
  package.json
  packages/astro/tests/jest/astrov1/input/stylify.config.mjs
  packages/astro/tests/jest/astrov2/input/stylify.config.mjs
  packages/bundler/tests/jest/bundle-specific-compiler-config.test.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config/expected/second.css
  packages/bundler/tests/jest/watch/expected/after-config-modification.css
  packages/bundler/tests/jest/watch/expected/before-config-modification.css
  packages/nuxt-module/tests/jest/nuxt.test.ts
  packages/nuxt/tests/jest/nuxt/expected/output.css
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/content-options.test.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/stylify/tests/jest/variables-and-helpers/expected/index.css
  packages/unplugin/package.json
  packages/unplugin/tests/jest/esbuild.test.ts
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/vite-react/input/vite.config.js
  packages/unplugin/tests/jest/webpack.test.ts
  packages/unplugin/tests/jest/webpack/expected/main.js
  pnpm-lock.yaml
  scripts/helpers/esbuild.ts
Due: bundler, nuxt, nuxt-module, stylify

Add showBundlesStats option
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config.test.ts
  packages/bundler/tests/jest/css-layers.test.ts
  packages/bundler/tests/jest/hooks.test.ts
  packages/bundler/tests/jest/multiple-files-same-selectors.test.ts
  packages/bundler/tests/jest/multiple-files.test.ts
  packages/bundler/tests/jest/normalized-path.test.ts
  packages/bundler/tests/jest/selectors-areas.test.ts
  packages/bundler/tests/jest/single-file.test.ts
  packages/bundler/tests/jest/special-chars-in-dirname.test.ts
  packages/bundler/tests/jest/watch.test.ts
  packages/unplugin/tests/jest/esbuild.test.ts
  packages/unplugin/tests/jest/nextjs/input/next.config.js
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/vite-default-transform.test.ts
  packages/unplugin/tests/jest/vite-react/input/vite.config.js
  packages/unplugin/tests/jest/vite.test.ts
  packages/unplugin/tests/jest/webpack.test.ts
Due: bundler

Add bundler logs directory option
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/logs-dir.test.ts
  packages/bundler/tests/jest/logs-dir/expected/index-error.css
  packages/bundler/tests/jest/logs-dir/expected/stylify-bundler-error.txt
  packages/bundler/tests/jest/logs-dir/input/index.html
Due: bundler

Add mdoc file type
  packages/unplugin/src/index.ts
Due: none

Correct exports
  packages/astro/package.json
  packages/bundler/package.json
  packages/stylify/package.json
Due: bundler, stylify

Add newline match into astro macro
  packages/astro/src/index.ts
Due: none

Update astro package
  packages/astro/package.json
  packages/astro/playground/.gitignore
  packages/astro/playground/astro.config.js
  packages/astro/playground/astro.config.mjs
  packages/astro/playground/package.json
  packages/astro/playground/server.mjs
  packages/astro/playground/src/README.md
  packages/astro/playground/src/components/title.astro
  packages/astro/playground/src/env.d.ts
  packages/astro/playground/src/pages/index.astro
  packages/astro/playground/src/styles/stylify.css
  packages/astro/playground/stylify.config.js
  packages/astro/playground/stylify.config.mjs
  packages/astro/playground/vite.config.js
Due: none

Fix astro playground commands
  package.json
Due: none

Update pnpm lock
  pnpm-lock.yaml
Due: none

Fix
  package.json
  pnpm-lock.yaml
Due: none

Add patch commands
  package.json
Due: none

Fix eslint
  .eslintrc.yml
Due: none

Update to 0.5.32
  build-stats.json
  package.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Fix publish command
  package.json
Due: none

feat: reexport bundler hooks from packages
  packages/astro/src/index.ts
  packages/nuxt-module/src/index.ts
  packages/nuxt/src/module.ts
  packages/unplugin/src/index.ts
Due: nuxt, nuxt-module

Move stylify playground into the stylify package
  packages/stylify/playground/index.html
  packages/stylify/playground/index.mjs
Due: stylify

Update docker
  Dockerfile
Due: none

Add playgrounds into the workspace
  packages/astro/playground/package.json
  packages/bundler/playground/package.json
  packages/nuxt-module/playground/.editorconfig
  packages/nuxt-module/playground/package.json
  packages/unplugin/playground/webpack/package.json
  pnpm-workspace.yaml
Due: bundler, nuxt-module

Update dependencies
  package.json
  pnpm-lock.yaml
  scripts/helpers/esbuild.ts
Due: none

Fix matching and mangling collisions
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/macros.test.ts
  packages/stylify/tests/jest/macros/expected/custom-macros.css
  packages/stylify/tests/jest/macros/input/custom-macros.html
  packages/stylify/tests/jest/selectors-mangling/expected/identical-ignored-areas.html
  packages/stylify/tests/jest/selectors-mangling/input/identical-ignored-areas.html
Due: stylify

Update devcontainer config
  .devcontainer/devcontainer.json
Due: none

Matched custom selectors cannot be listed as matched to prevent collision with customSelectors from config
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Add stylify plaground command
  package.json
Due: none

Replace whitespace by space to split item correctly
  packages/bundler/src/Bundler.ts
Due: bundler

Remove ignored areas before searching for stylify-files content option
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/multiple-files/expected/second.html
  packages/bundler/tests/jest/multiple-files/input/ignored.md
  packages/bundler/tests/jest/multiple-files/input/second.html
  packages/stylify/src/Compiler/Compiler.ts
Due: bundler, stylify

Update to 0.5.33
  build-stats.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Regular expressions array for selectors areas
  packages/astro/src/index.ts
  packages/bundler/tests/jest/multiple-files.test.ts
  packages/nuxt/src/module.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/tests/jest/selectors-mangling.test.ts
Due: bundler, nuxt, stylify

Configurator cleanup
  packages/astro/src/index.ts
  packages/stylify/src/Configurator.ts
  packages/unplugin/src/index.ts
Due: stylify

Revert missing processedHelpers
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Rename macroMatch to match and use RegExpMatch in components and custom selectors
  packages/astro/tests/jest/astrov2.test.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config.test.ts
  packages/nuxt-module/tests/jest/nuxt/input/nuxt.config.js
  packages/nuxt/tests/jest/nuxt/input/nuxt.config.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/MacroMatch.ts
  packages/stylify/src/Compiler/RegExpMatch.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/src/Compiler/index.ts
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/custom-selectors.test.ts
  packages/stylify/tests/jest/macros.test.ts
  packages/stylify/tests/jest/selectors-mangling.test.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/unplugin/tests/jest/esbuild.test.ts
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/webpack.test.ts
  packages/unplugin/tests/jest/webpack/expected/main.js
  pnpm-lock.yaml
Due: bundler, nuxt, nuxt-module, stylify

Screens should accept an object with options as argument instead of an array
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/MacroMatch.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/tests/jest/combined-pages/expected/index.html
  packages/stylify/tests/jest/combined-pages/input/index.html
  packages/stylify/tests/jest/variables-and-helpers.test.ts
Due: stylify
