Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, stylify

Rename StylifyUnplugin to unplugin and export plugin types separately
  packages/nuxt/src/module.ts
  packages/unplugin/src/index.ts
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/vite.test.ts
  packages/unplugin/tests/jest/webpack.test.ts
Due: none

Ignored elements renamed to ignoredAreas and it's a regp now instead of a string
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Runtime.ts
  packages/stylify/tests/jest/ignored-areas.test.ts
  packages/stylify/tests/jest/ignored-areas/expected/index.css
  packages/stylify/tests/jest/ignored-areas/expected/index.html
  packages/stylify/tests/jest/ignored-areas/input/index.html
Due: stylify

Content options tunning
  packages/bundler/tests/jest/multiple-files/expected/second.html
  packages/bundler/tests/jest/multiple-files/expected/second/html.html
  packages/bundler/tests/jest/multiple-files/expected/second/nette.latte
  packages/bundler/tests/jest/multiple-files/expected/second/symfony.twig
  packages/bundler/tests/jest/multiple-files/expected/second/vue.vue
  packages/bundler/tests/jest/multiple-files/expected/second/vuejs/component.vue
  packages/bundler/tests/jest/multiple-files/input/second.html
  packages/bundler/tests/jest/multiple-files/input/second/html.html
  packages/bundler/tests/jest/multiple-files/input/second/nette.latte
  packages/bundler/tests/jest/multiple-files/input/second/symfony.twig
  packages/bundler/tests/jest/multiple-files/input/second/vue.vue
  packages/bundler/tests/jest/multiple-files/input/second/vuejs/component.vue
  packages/bundler/tests/jest/normalized-path/input/index.html
  packages/bundler/tests/jest/single-file/expected/second.html
  packages/bundler/tests/jest/single-file/input/index.html
  packages/bundler/tests/jest/single-file/input/second.html
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/combined-pages/expected/index.html
  packages/stylify/tests/jest/combined-pages/input/index.html
Due: bundler, stylify

Update readme
  README.md
  stylify.gif
Due: none

Fix
  README.md
  stylify-intro.gif
Due: none

Fix
  README.md
Due: none

Update versions to 0.0.14
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/profiler/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: autoprefixer, bundler, stylify

Fix playground example
  packages/bundler/playground/index.html
Due: bundler

Fix unwanted components list reset
  packages/stylify/src/Compiler/CompilationResult.ts
Due: stylify

Updated version to 0.0.15
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/profiler/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: autoprefixer, bundler, stylify

Remove unused plugin
  scripts/Build/BuildConfig.ts
Due: none

Make compiler stateless
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Runtime.ts
Due: stylify

Remove components reset in bundler
  packages/bundler/src/Bundler.ts
Due: bundler

Remove unnecessary page from bundler playground
  packages/bundler/playground/second.html
Due: bundler

Updated version to 0.0.16
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/profiler/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: autoprefixer, bundler, stylify

Update README.md
  packages/bundler/README.md
Due: bundler

Fix redraw when selectors changed
  packages/stylify/src/Runtime.ts
Due: stylify

Fix domain - Stylify.dev to stylifycss.com
  README.md
  packages/autoprefixer/README.md
  packages/autoprefixer/package.json
  packages/bundler/README.md
  packages/bundler/package.json
  packages/nuxt-module/README.md
  packages/nuxt-module/package.json
  packages/nuxt/README.md
  packages/profiler/README.md
  packages/profiler/package.json
  packages/profiler/src/Toolbar.tsx
  packages/stylify/README.md
  packages/stylify/package.json
  packages/unplugin/README.md
  packages/unplugin/package.json
Due: autoprefixer, bundler, stylify

Content options tunning
  packages/bundler/playground/index.html
  packages/bundler/tests/jest/multiple-files/expected/second.html
  packages/bundler/tests/jest/multiple-files/expected/second/html.html
  packages/bundler/tests/jest/multiple-files/expected/second/nette.latte
  packages/bundler/tests/jest/multiple-files/expected/second/symfony.twig
  packages/bundler/tests/jest/multiple-files/expected/second/vue.vue
  packages/bundler/tests/jest/multiple-files/expected/second/vuejs/component.vue
  packages/bundler/tests/jest/multiple-files/input/second.html
  packages/bundler/tests/jest/multiple-files/input/second/html.html
  packages/bundler/tests/jest/multiple-files/input/second/nette.latte
  packages/bundler/tests/jest/multiple-files/input/second/symfony.twig
  packages/bundler/tests/jest/multiple-files/input/second/vue.vue
  packages/bundler/tests/jest/multiple-files/input/second/vuejs/component.vue
  packages/bundler/tests/jest/normalized-path/input/index.html
  packages/bundler/tests/jest/single-file/expected/second.html
  packages/bundler/tests/jest/single-file/input/index.html
  packages/bundler/tests/jest/single-file/input/second.html
  packages/profiler/src/Extensions/CompilerExtension.tsx
  packages/profiler/src/styledElements/inlineCardElements.tsx
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/combined-pages/expected/index.css
  packages/stylify/tests/jest/combined-pages/expected/index.html
  packages/stylify/tests/jest/combined-pages/input/index.html
  packages/stylify/tests/jest/ignored-areas/expected/index.html
  packages/stylify/tests/jest/ignored-areas/input/index.html
Due: bundler, stylify

Try to find ts and js config by default
  package.json
  packages/bundler/src/Bundler.ts
  packages/nuxt-module/playground/pages/index.vue
  packages/nuxt-module/playground/stylify.config.ts
  packages/nuxt-module/src/index.ts
  packages/nuxt/playground/app.vue
  packages/nuxt/src/module.ts
  packages/unplugin/src/index.ts
  scripts/helpers/esbuild.ts
Due: bundler

wip
  index.html
  package.json
  packages/profiler/package.json
  packages/profiler/src/Extensions/CompilerExtension.tsx
  packages/profiler/src/Extensions/RuntimeExtension.tsx
  packages/profiler/src/Extensions/SummaryExtension.tsx
  packages/profiler/src/Extensions/index.ts
  packages/profiler/src/Extensions/runtimeExtension.ts
  packages/profiler/src/Profiler.ts
  packages/profiler/src/Toolbar.ts
  packages/profiler/src/Toolbar.tsx
  packages/profiler/src/Utils.ts
  packages/profiler/src/index.ts
  packages/profiler/src/styledElements/cardElements.tsx
  packages/profiler/src/styledElements/index.ts
  packages/profiler/src/styledElements/inlineCardElements.tsx
  packages/profiler/src/styledElements/props.ts
  packages/profiler/src/styledElements/tableElements.tsx
  packages/profiler/src/styledElements/visibilityElements.tsx
  packages/profiler/src/vue.ts
  packages/profiler/stylify.config.js
  packages/profiler/stylify.config.ts
  packages/profiler/yarn.lock
  scripts/helpers/esbuild.ts
  yarn.lock
Due: none

Added property value must always be a string
  packages/stylify/src/Compiler/SelectorProperties.ts
  packages/stylify/tests/jest/custom-macros.test.ts
  packages/stylify/tests/jest/custom-macros/expected/index.css
  packages/stylify/tests/jest/custom-macros/input/index.html
Due: stylify

Add space before property value when not in production mode
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/tests/jest/combined-pages/expected/index.css
  packages/stylify/tests/jest/components-mangle-selectors/expected/index.css
  packages/stylify/tests/jest/components/expected/index.css
  packages/stylify/tests/jest/custom-macros/expected/index.css
  packages/stylify/tests/jest/dynamic-screens/expected/index.css
  packages/stylify/tests/jest/ignored-areas/expected/index.css
  packages/stylify/tests/jest/larger-page/expected/index.css
  packages/stylify/tests/jest/mangle-duplicate-selectors/expected/index.css
  packages/stylify/tests/jest/mangle-single-letter-macros/expected/index.css
  packages/stylify/tests/jest/mangle-vendor-prefixed-selectors/expected/index.css
  packages/stylify/tests/jest/multiple-components/expected/index.css
  packages/stylify/tests/jest/plain-selectors/expected/index.css
  packages/stylify/tests/jest/single-letter-macros/expected/index.css
  packages/stylify/tests/jest/variables-and-helpers/expected/index.css
  packages/stylify/tests/jest/vendor-prefixed-selectors/expected/index.css
Due: stylify

Trim file content before testing
  tests/TestUtils.ts
Due: none

Updated test files according to stylify update
  packages/autoprefixer/tests/jest/prefixer/expected/index.css
  packages/autoprefixer/tests/jest/prefixer/expected/index.json
Due: autoprefixer

Do not configure compiler from content options, add new line when not in dev mde
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config.test.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config/expected/index.css
  packages/bundler/tests/jest/bundle-specific-compiler-config/expected/second.css
  packages/bundler/tests/jest/hooks.test.ts
  packages/bundler/tests/jest/hooks/expected/index.css
  packages/bundler/tests/jest/hooks/expected/second.css
  packages/bundler/tests/jest/multiple-files.test.ts
  packages/bundler/tests/jest/multiple-files/expected/index.css
  packages/bundler/tests/jest/multiple-files/expected/second.css
  packages/bundler/tests/jest/multiple-files/expected/second/vue.vue
  packages/bundler/tests/jest/multiple-files/input/second/vue.vue
  packages/bundler/tests/jest/normalized-path.test.ts
  packages/bundler/tests/jest/normalized-path/expected/index.css
  packages/bundler/tests/jest/single-file.test.ts
  packages/bundler/tests/jest/single-file/expected/index.css
  packages/bundler/tests/jest/single-file/expected/second.css
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/vite.test.ts
  packages/unplugin/tests/jest/webpack.test.ts
  tests/TestUtils.ts
Due: bundler

The more tags, more adidbugs
  README.md
  packages/autoprefixer/README.md
  packages/bundler/README.md
  packages/nuxt-module/README.md
  packages/nuxt/README.md
  packages/profiler/README.md
  packages/stylify/README.md
  packages/unplugin/README.md
Due: autoprefixer, bundler, stylify

Add 4000 socket port for vite
  .devcontainer/devcontainer.json
Due: none

Update nuxt profiler extension
  packages/nuxt/src/runtime/plugins/NuxtProfilerExtension.tsx
  packages/profiler/src/Utils.ts
Due: none

Add pack command for nuxt
  packages/nuxt/package.json
Due: none

Update version to 0.1.0
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/profiler/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: autoprefixer, bundler, stylify

For some reason, after update, imports.path.url is undefined
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugins/NuxtProfilerExtension.tsx
  packages/nuxt/src/runtime/plugins/profiler-plugin.client.ts
  scripts/build.ts
  scripts/helpers/esbuild.ts
Due: none

v0.1.1
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/profiler/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: autoprefixer, bundler, stylify

Improve message when error occures during content option parsing
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Add builds stats checker
  build-stats.json
  package.json
  scripts/build-generate-stats.ts
  scripts/helpers/esbuild.ts
  scripts/helpers/output-stats.ts
  yarn.lock
Due: none

Fix iife output
  packages/stylify/src/index.browser.ts
Due: stylify

Add unplugin tests
  packages/unplugin/src/index.ts
  packages/unplugin/tests/jest/esbuild.test.ts
  packages/unplugin/tests/jest/esbuild/expected/index.css
  packages/unplugin/tests/jest/esbuild/expected/output.js
  packages/unplugin/tests/jest/esbuild/input/index.html
  packages/unplugin/tests/jest/esbuild/input/index.js
Due: none

Purge tmp directories
  tests/TestUtils.ts
Due: none

Path conditions:
  autoprefixer: any of: packages/autoprefixer/
  bundler: any of: packages/bundler/
  stylify: any of: packages/stylify/
