Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, stylify

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  autoprefixer:
    paths:
      - packages/autoprefixer/
  bundler:
    paths:
      - packages/bundler/
  stylify:
    paths:
      - packages/stylify/

Fix native iife output
  packages/stylify/src/index.browser.ts
  scripts/build.ts
Due: stylify

Updated to 0.1.2
  build-stats.json
  lerna.json
  package.json
Due: none

Nullish coealescing operator into conditions
  packages/nuxt-module/src/index.ts
  packages/nuxt/src/module.ts
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/MacroMatch.ts
Due: stylify

Typescript problems fix
  packages/bundler/src/Bundler.ts
  packages/nuxt-module/src/index.ts
  packages/nuxt/src/module.ts
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/MacroMatch.ts
  packages/stylify/src/Runtime.ts
  scripts/helpers/output-stats.ts
Due: bundler, stylify

Added keyframes feature
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/tests/jest/keyframes.test.ts
  packages/stylify/tests/jest/keyframes/expected/index.css
  packages/stylify/tests/jest/keyframes/input/index.html
  packages/stylify/tests/jest/multiple-components/expected/index.css
Due: stylify

Updated build status
  build-stats.json
Due: none

v0.1.3
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/profiler/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: autoprefixer, bundler, stylify

Build stats output tunning
  scripts/helpers/output-stats.ts
Due: none

Remove serialized data support and drop profiler
  lerna.json
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/multiple-files.test.ts
  packages/bundler/tests/jest/multiple-files/expected/second.css
  packages/bundler/tests/jest/multiple-files/input/second.css.json
  packages/nuxt-module/package.json
  packages/nuxt-module/src/NuxtProfilerExtension.tsx
  packages/nuxt-module/src/index.ts
  packages/nuxt-module/src/profiler-plugin.ts
  packages/nuxt-module/src/webpack-loader.ts
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugins/NuxtProfilerExtension.tsx
  packages/nuxt/src/runtime/plugins/profiler-plugin.client.ts
  packages/profiler/README.md
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/Runtime.ts
  scripts/build.ts
Due: bundler, stylify

Reg exp test instead of match where possible
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/Presets/nativePreset.ts
  packages/stylify/tools/native-preset-generator/template.ts
Due: stylify

New mangling alghoritm
  packages/bundler/tests/jest/hooks/expected/index.css
  packages/bundler/tests/jest/hooks/expected/index.html
  packages/bundler/tests/jest/multiple-files/expected/second.css
  packages/bundler/tests/jest/multiple-files/expected/second.html
  packages/bundler/tests/jest/multiple-files/expected/second/html.html
  packages/bundler/tests/jest/multiple-files/expected/second/nette.latte
  packages/bundler/tests/jest/multiple-files/expected/second/symfony.twig
  packages/bundler/tests/jest/multiple-files/expected/second/vue.vue
  packages/bundler/tests/jest/multiple-files/expected/second/vuejs/component.vue
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/Compiler/MinifiedSelectorGenerator.ts
  packages/stylify/src/Compiler/index.ts
  packages/stylify/src/Compiler/stringHashCode.ts
  packages/stylify/tests/jest/combined-pages/expected/about.html
  packages/stylify/tests/jest/combined-pages/expected/index.css
  packages/stylify/tests/jest/combined-pages/expected/index.html
  packages/stylify/tests/jest/components-mangle-selectors/expected/index.css
  packages/stylify/tests/jest/components-mangle-selectors/expected/index.html
  packages/stylify/tests/jest/ignored-areas/expected/index.css
  packages/stylify/tests/jest/ignored-areas/expected/index.html
  packages/stylify/tests/jest/mangle-duplicate-selectors/expected/index.css
  packages/stylify/tests/jest/mangle-duplicate-selectors/expected/index.html
  packages/stylify/tests/jest/mangle-single-letter-macros/expected/index.css
  packages/stylify/tests/jest/mangle-single-letter-macros/expected/index.html
  packages/stylify/tests/jest/mangle-vendor-prefixed-selectors/expected/index.css
  packages/stylify/tests/jest/mangle-vendor-prefixed-selectors/expected/index.html
  packages/unplugin/tests/jest/rollup/expected/index.css
  packages/unplugin/tests/jest/rollup/expected/main.js
  packages/unplugin/tests/jest/vite/expected/index.css
  packages/unplugin/tests/jest/vite/expected/index.html
  packages/unplugin/tests/jest/webpack/expected/index.css
  packages/unplugin/tests/jest/webpack/expected/main.js
Due: bundler, stylify

Screen based variables
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/ScreensSorter.ts
  packages/stylify/src/Compiler/index.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/stylify/tests/jest/variables-and-helpers/expected/index.css
  packages/stylify/tests/jest/variables-and-helpers/input/index.html
Due: stylify

Added autoprefixer into the Bundler
  packages/bundler/package.json
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/single-file/expected/index.css
  packages/bundler/tests/jest/single-file/expected/second.css
  packages/bundler/yarn.lock
  scripts/build.ts
Due: bundler

Variable in variable
  index.html
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/stylify/tests/jest/variables-and-helpers/expected/index.css
Due: stylify

Fix keyframes test
  packages/stylify/tests/jest/keyframes.test.ts
Due: stylify

Selectors can start only with alphanumeric characters
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Presets/nativePreset.ts
  packages/stylify/tests/jest/mangle-vendor-prefixed-selectors.test.ts
  packages/stylify/tests/jest/mangle-vendor-prefixed-selectors/expected/index.css
  packages/stylify/tests/jest/mangle-vendor-prefixed-selectors/expected/index.html
  packages/stylify/tests/jest/mangle-vendor-prefixed-selectors/input/index.html
  packages/stylify/tests/jest/vendor-prefixed-selectors.test.ts
  packages/stylify/tests/jest/vendor-prefixed-selectors/expected/index.css
  packages/stylify/tests/jest/vendor-prefixed-selectors/input/index.html
  packages/stylify/tools/native-preset-generator/index.js
  packages/stylify/tools/native-preset-generator/template.ts
Due: stylify

Nuxt bug fixes
  packages/nuxt/src/module.ts
Due: none

Added nuxt module tests
  codecov.yml
  jest.config.js
  package.json
  packages/nuxt-module/src/index.ts
  packages/nuxt-module/tests/jest/nuxt.test.ts
  packages/nuxt-module/tests/jest/nuxt/input/.gitignore
  packages/nuxt-module/tests/jest/nuxt/input/assets/stylify.css
  packages/nuxt-module/tests/jest/nuxt/input/components/SmallerSubtitle.vue
  packages/nuxt-module/tests/jest/nuxt/input/components/Subtitle.vue
  packages/nuxt-module/tests/jest/nuxt/input/layouts/default.vue
  packages/nuxt-module/tests/jest/nuxt/input/nuxt.config.js
  packages/nuxt-module/tests/jest/nuxt/input/package.json
  packages/nuxt-module/tests/jest/nuxt/input/pages/index.vue
  packages/nuxt-module/tests/jest/nuxt/input/stylify.config.js
  packages/nuxt-module/tests/jest/nuxt/input/stylify.config.ts
  packages/nuxt-module/tests/jest/nuxt/input/stylify.custom.config.js
  packages/nuxt-module/tests/jest/nuxt/input/yarn.lock
Due: none

Added nuxt 3 tests
  codecov.yml
  index.html
  jest.config.js
  package.json
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  packages/nuxt/tests/jest/nuxt.test.ts
  packages/nuxt/tests/jest/nuxt/expected/output.css
  packages/nuxt/tests/jest/nuxt/input/.gitignore
  packages/nuxt/tests/jest/nuxt/input/components/SmallerSubtitle.vue
  packages/nuxt/tests/jest/nuxt/input/components/Subtitle.vue
  packages/nuxt/tests/jest/nuxt/input/layouts/default.vue
  packages/nuxt/tests/jest/nuxt/input/nuxt.config.ts
  packages/nuxt/tests/jest/nuxt/input/package.json
  packages/nuxt/tests/jest/nuxt/input/pages/index.vue
  packages/nuxt/tests/jest/nuxt/input/stylify.config.js
  packages/nuxt/tests/jest/nuxt/input/stylify.config.ts
  packages/nuxt/tests/jest/nuxt/input/stylify.custom.config.js
  packages/nuxt/tests/jest/nuxt/input/tsconfig.json
  packages/nuxt/tests/jest/nuxt/input/yarn.lock
  tests/TestUtils.ts
Due: none

Update versions
  build-stats.json
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: autoprefixer, bundler, stylify

Lerna publish command fix
  package.json
Due: none

Autoprefixer discontinued
  jest.config.js
  lerna.json
  packages/autoprefixer/README.md
  scripts/build.ts
Due: autoprefixer

Add default file types to process into the unplugin
  packages/unplugin/src/index.ts
  packages/unplugin/tests/jest/vite-default-transform.test.ts
  packages/unplugin/tests/jest/vite-default-transform/expected/index.css
  packages/unplugin/tests/jest/vite-default-transform/expected/index.html
  packages/unplugin/tests/jest/vite-default-transform/expected/index.js
  packages/unplugin/tests/jest/vite-default-transform/input/index.html
  packages/unplugin/tests/jest/vite-default-transform/input/main.js
Due: none

Add multiple files same selectors test
  packages/bundler/tests/jest/multiple-files-same-selectors.test.ts
  packages/bundler/tests/jest/multiple-files-same-selectors/expected/index.css
  packages/bundler/tests/jest/multiple-files-same-selectors/expected/index.html
  packages/bundler/tests/jest/multiple-files-same-selectors/expected/layout.css
  packages/bundler/tests/jest/multiple-files-same-selectors/expected/layout.html
  packages/bundler/tests/jest/multiple-files-same-selectors/input/index.html
  packages/bundler/tests/jest/multiple-files-same-selectors/input/layout.html
Due: bundler

Fix stylify twitter path in readmes
  packages/autoprefixer/README.md
  packages/bundler/README.md
  packages/nuxt-module/README.md
  packages/nuxt/README.md
  packages/profiler/README.md
  packages/stylify/README.md
  packages/unplugin/README.md
Due: autoprefixer, bundler, stylify

Fix output stats when new package is added
  scripts/helpers/output-stats.ts
Due: none

Add missing license to nuxt package
  packages/nuxt/LICENSE
Due: none

Remove unused import
  packages/nuxt/src/module.ts
Due: none

Bugfix: Prevent dollar sign disapearing when mangling and replacing content
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/mangle-with-special-characters.test.ts
  packages/stylify/tests/jest/mangle-with-special-characters/expected/index.css
  packages/stylify/tests/jest/mangle-with-special-characters/expected/index.html
  packages/stylify/tests/jest/mangle-with-special-characters/input/index.html
Due: stylify

Variables can be added under classes
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/ScreensSorter.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/stylify/tests/jest/variables-and-helpers/expected/index.css
Due: stylify

Typo WORK Nittro
  packages/nuxt/src/module.ts
Due: none

Typo word nittro
  packages/nuxt/src/module.ts
Due: none

Fix exports in unplugin
  packages/unplugin/package.json
  packages/unplugin/yarn.lock
Due: none

Add keywords into package json files
  packages/autoprefixer/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
Due: autoprefixer, stylify

Add default selector areas directly into the bundler.
  packages/bundler/package.json
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/selectors-areas.test.ts
  packages/bundler/tests/jest/selectors-areas/expected/index.css
  packages/bundler/tests/jest/selectors-areas/input/index.html
  packages/nuxt-module/src/index.ts
  packages/nuxt/src/module.ts
Due: bundler

Add universal configurator into the Stylify
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Configurator.ts
  packages/stylify/src/Utilities/console.ts
  packages/stylify/src/Utilities/index.ts
  packages/stylify/src/Utilities/objects.ts
  packages/stylify/src/index.ts
Due: stylify

Drop extend keyword
  packages/nuxt/src/module.ts
Due: none

Helpers in property values by default
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/stylify/tests/jest/variables-and-helpers/expected/index.css
  packages/stylify/tests/jest/variables-and-helpers/input/index.html
  packages/stylify/tools/default-preset-generator/template.ts
Due: stylify

Nuxt remove extend keyword
  packages/nuxt-module/src/index.ts
  packages/nuxt-module/tests/jest/nuxt/input/nuxt.config.js
  packages/nuxt-module/tests/jest/nuxt/input/stylify.config.js
  packages/nuxt-module/tests/jest/nuxt/input/stylify.config.ts
  packages/nuxt-module/tests/jest/nuxt/input/stylify.custom.config.js
  packages/nuxt/src/module.ts
Due: none
