Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, nuxt, nuxt-module, stylify

Use universal configurator, drop extend keyword
  packages/unplugin/src/index.ts
  packages/unplugin/tests/jest/esbuild.test.ts
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/webpack.test.ts
Due: none

Astro plugin
  jest.config.js
  lerna.json
  package.json
  packages/astro/LICENSE
  packages/astro/README.md
  packages/astro/package.json
  packages/astro/playground/.gitignore
  packages/astro/playground/astro.config.mjs
  packages/astro/playground/package.json
  packages/astro/playground/server.mjs
  packages/astro/playground/src/layouts/Layout.astro
  packages/astro/playground/src/pages/index.astro
  packages/astro/playground/tsconfig.json
  packages/astro/src/index.ts
  packages/astro/tests/jest/astro.test.ts
  packages/astro/tests/jest/astro/input/.gitignore
  packages/astro/tests/jest/astro/input/astro.config.mjs
  packages/astro/tests/jest/astro/input/package.json
  packages/astro/tests/jest/astro/input/src/components/Subtitle.astro
  packages/astro/tests/jest/astro/input/src/layouts/Layout.astro
  packages/astro/tests/jest/astro/input/src/pages/index.astro
  packages/astro/tests/jest/astro/input/src/pages/second.astro
  packages/astro/tests/jest/astro/input/tsconfig.json
  packages/astro/yarn.lock
  scripts/build.ts
Due: none

Drop extend keyword
  packages/nuxt/src/module.ts
  packages/nuxt/tests/jest/nuxt/input/nuxt.config.ts
  packages/nuxt/tests/jest/nuxt/input/stylify.config.js
  packages/nuxt/tests/jest/nuxt/input/stylify.config.ts
  packages/nuxt/tests/jest/nuxt/input/stylify.custom.config.js
Due: nuxt

Move default selector areas into the Stylify directly so they can be used in the browser.
  packages/bundler/src/Bundler.ts
  packages/stylify/tools/default-preset-generator/template.ts
Due: bundler, stylify

Runtime tunning
  index.html
  packages/stylify/src/Runtime.ts
  packages/stylify/src/index.browser.iife.ts
  packages/stylify/src/index.browser.ts
  scripts/build.ts
Due: stylify

Astro exports update
  packages/astro/playground/astro.config.mjs
  packages/astro/playground/package.json
  packages/astro/playground/src/pages/index.astro
  packages/astro/playground/src/pages/second.astro
  packages/astro/playground/src/pages/third.astro
  packages/astro/src/index.ts
  packages/astro/tests/jest/astro/input/astro.config.mjs
Due: none

Fix build stats
  scripts/helpers/output-stats.ts
Due: none

Fixes after testing
  packages/astro/playground/astro.config.mjs
  packages/astro/playground/package.json
  packages/astro/playground/src/pages/index.astro
  packages/astro/playground/stylify.config.mjs
  packages/astro/src/index.ts
  packages/astro/tests/jest/astro.test.ts
  packages/astro/tests/jest/astro/input/src/layouts/Layout.astro
  packages/astro/tests/jest/astro/input/stylify.config.mjs
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/src/Configurator.ts
  packages/stylify/tools/default-preset-generator/template.ts
  packages/unplugin/src/index.ts
Due: stylify

Update to 0.3.0
  lerna.json
  package.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Update build stats
  build-stats.json
Due: none

Rename stylifyIntegration to stylify
  packages/astro/playground/astro.config.mjs
  packages/astro/src/index.ts
  packages/astro/tests/jest/astro/input/astro.config.mjs
Due: none

Added selectors areas for class:list
  packages/astro/src/index.ts
  packages/astro/tests/jest/astro.test.ts
  packages/astro/tests/jest/astro/input/src/pages/index.astro
Due: none

Helpers should be processed before the css var name is set.
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/stylify/tests/jest/variables-and-helpers/expected/index.css
  packages/stylify/tests/jest/variables-and-helpers/expected/second.css
  packages/stylify/tests/jest/variables-and-helpers/input/second.html
Due: stylify

Helpers should be processed before the css var name is set.
  packages/bundler/src/Bundler.ts
Due: bundler

Throw error by default in compiler
  packages/bundler/src/Bundler.ts
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Runtime.ts
  packages/stylify/src/Utilities/console.ts
  packages/stylify/src/Utilities/index.ts
Due: bundler, stylify

Default preset is now not generated from template
  .gitignore
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/tools/default-preset-generator/index.js
  packages/stylify/tools/default-preset-generator/template.ts
Due: stylify

Fix astro integration without config
  packages/astro/src/index.ts
Due: none

Cleanup
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Autoprefixer moved to stylify-deprecated
  packages/autoprefixer/.browserslistrc
  packages/autoprefixer/LICENSE
  packages/autoprefixer/README.md
  packages/autoprefixer/package.json
  packages/autoprefixer/src/Prefixer.ts
  packages/autoprefixer/src/PrefixesGenerator.ts
  packages/autoprefixer/src/index.ts
  packages/autoprefixer/tests/jest/prefixer.test.ts
  packages/autoprefixer/tests/jest/prefixer/expected/index.css
  packages/autoprefixer/tests/jest/prefixer/expected/index.json
  packages/autoprefixer/tests/jest/prefixer/input/index.html
  packages/autoprefixer/yarn.lock
Due: autoprefixer

Profiler moved to stylify-deprecated
  packages/profiler/LICENSE
  packages/profiler/README.md
  packages/profiler/package.json
  packages/profiler/profiler.png
  packages/profiler/src/Extensions/CompilerExtension.tsx
  packages/profiler/src/Extensions/RuntimeExtension.tsx
  packages/profiler/src/Extensions/SummaryExtension.tsx
  packages/profiler/src/Extensions/index.ts
  packages/profiler/src/Profiler.ts
  packages/profiler/src/Toolbar.tsx
  packages/profiler/src/Utils.ts
  packages/profiler/src/assets/.gitignore
  packages/profiler/src/assets/icons/fonts/stylify-profiler.woff
  packages/profiler/src/assets/icons/selection.json
  packages/profiler/src/assets/icons/style.css
  packages/profiler/src/assets/normalize.scss
  packages/profiler/src/assets/style.css
  packages/profiler/src/index.browser.ts
  packages/profiler/src/index.ts
  packages/profiler/src/profiler.scss
  packages/profiler/src/styledElements/cardElements.tsx
  packages/profiler/src/styledElements/index.ts
  packages/profiler/src/styledElements/inlineCardElements.tsx
  packages/profiler/src/styledElements/props.ts
  packages/profiler/src/styledElements/tableElements.tsx
  packages/profiler/src/styledElements/visibilityElements.tsx
  packages/profiler/stylify.config.js
Due: none

Cleanup after moving packages to deprecated
  babel.config.json
  jest.config.js
  package.json
  scripts/helpers/esbuild.ts
  tsconfig.json
  yarn.lock
Due: none

One underscore instead of two for a space in selectors.
  packages/bundler/tests/jest/multiple-files-same-selectors/input/index.html
  packages/bundler/tests/jest/multiple-files-same-selectors/input/layout.html
  packages/bundler/tests/jest/multiple-files/expected/index.css
  packages/bundler/tests/jest/multiple-files/expected/index.html
  packages/bundler/tests/jest/multiple-files/expected/second/vuejs/component.vue
  packages/bundler/tests/jest/multiple-files/input/index.html
  packages/bundler/tests/jest/multiple-files/input/second/vuejs/component.vue
  packages/bundler/tests/jest/single-file/expected/index.css
  packages/bundler/tests/jest/single-file/expected/second.css
  packages/bundler/tests/jest/single-file/expected/second.html
  packages/bundler/tests/jest/single-file/input/index.html
  packages/bundler/tests/jest/single-file/input/second.html
  packages/nuxt-module/tests/jest/nuxt/input/layouts/default.vue
  packages/nuxt/tests/jest/nuxt/input/layouts/default.vue
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/MacroMatch.ts
  packages/stylify/tests/jest/combined-pages/input/about.html
  packages/stylify/tests/jest/combined-pages/input/index.html
  packages/stylify/tests/jest/components-mangle-selectors.test.ts
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/components/expected/index.css
  packages/stylify/tests/jest/components/input/index.html
  packages/stylify/tests/jest/keyframes/expected/index.css
  packages/stylify/tests/jest/keyframes/input/index.html
  packages/stylify/tests/jest/larger-page/expected/index.css
  packages/stylify/tests/jest/larger-page/input/index.html
  packages/stylify/tests/jest/mangle-single-letter-macros/input/index.html
  packages/stylify/tests/jest/single-letter-macros/expected/index.css
  packages/stylify/tests/jest/single-letter-macros/input/index.html
  packages/stylify/tests/jest/variables-and-helpers/expected/index.css
  packages/stylify/tests/jest/variables-and-helpers/expected/second.css
  packages/stylify/tests/jest/variables-and-helpers/input/index.html
  packages/stylify/tests/jest/variables-and-helpers/input/second.html
  packages/unplugin/tests/jest/esbuild/expected/index.css
  packages/unplugin/tests/jest/esbuild/input/index.html
  packages/unplugin/tests/jest/rollup/input/index.html
  packages/unplugin/tests/jest/webpack/input/index.html
Due: bundler, nuxt, nuxt-module, stylify

Update README.md
  README.md
Due: none

Update version to 0.4.0
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Remove extend keyword in playgrounds
  packages/nuxt-module/playground/stylify.config.ts
  packages/nuxt/playground/stylify.config.js
Due: nuxt, nuxt-module

Variables will be dumped only when variables object is defined
  packages/bundler/src/Bundler.ts
Due: bundler

Updated build stats
  build-stats.json
Due: none

Stylify now has a Hookable system
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/hooks.test.ts
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/Hooks.ts
  packages/stylify/src/Runtime.ts
  packages/stylify/src/index.ts
Due: bundler, stylify

Runtime uses Hookable system instead of dom custom event
  packages/stylify/src/Hooks.ts
  packages/stylify/src/Runtime.ts
Due: stylify

Custom selectors tunning
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config/expected/index.css
  packages/bundler/tests/jest/single-file/expected/index.css
  packages/bundler/tests/jest/single-file/expected/second.css
  packages/nuxt-module/src/webpack-loader.ts
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/Compiler/CustomSelector.ts
  packages/stylify/src/Compiler/MinifiedSelectorGenerator.ts
  packages/stylify/src/Compiler/index.ts
  packages/stylify/tests/jest/combined-pages.test.ts
  packages/stylify/tests/jest/components-mangle-selectors.test.ts
  packages/stylify/tests/jest/components-mangle-selectors/expected/index.css
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/components/expected/index.css
  packages/stylify/tests/jest/ignored-areas.test.ts
  packages/stylify/tests/jest/mangle-duplicate-selectors.test.ts
  packages/stylify/tests/jest/mangle-single-letter-macros.test.ts
  packages/stylify/tests/jest/mangle-with-special-characters.test.ts
  packages/stylify/tests/jest/multiple-components.test.ts
  packages/stylify/tests/jest/multiple-components/expected/index.css
  packages/stylify/tests/jest/multiple-components/input/index.html
  packages/unplugin/src/index.ts
Due: bundler, nuxt-module, stylify

Content options now can be taken from content without defining processor.
  packages/bundler/src/Bundler.ts
  packages/stylify/src/Compiler/Compiler.ts
Due: bundler, stylify

Rename exports in unplugin to stylifySomething
  packages/astro/src/index.ts
  packages/nuxt/src/module.ts
  packages/unplugin/playground/webpack/webpack.config.js
  packages/unplugin/src/index.ts
  packages/unplugin/tests/jest/esbuild.test.ts
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/vite-default-transform.test.ts
  packages/unplugin/tests/jest/vite.test.ts
  packages/unplugin/tests/jest/webpack.test.ts
Due: nuxt

Custom selectors update
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/Compiler/CustomSelector.ts
  packages/stylify/src/Compiler/MacroMatch.ts
  packages/stylify/src/Compiler/MinifiedSelectorGenerator.ts
  packages/stylify/tests/jest/components-mangle-selectors.test.ts
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/components/expected/mangle-selectors.css
  packages/stylify/tests/jest/components/expected/mangle-selectors.html
  packages/stylify/tests/jest/components/expected/nested-syntax-mangled.css
  packages/stylify/tests/jest/components/expected/nested-syntax-mangled.html
  packages/stylify/tests/jest/components/expected/nested-syntax.css
  packages/stylify/tests/jest/components/input/mangle-selectors.html
  packages/stylify/tests/jest/components/input/nested-syntax-mangled.html
  packages/stylify/tests/jest/components/input/nested-syntax.html
  packages/stylify/tests/jest/custom-selectors.test.ts
  packages/stylify/tests/jest/custom-selectors/expected/index.css
  packages/stylify/tests/jest/custom-selectors/input/index.html
  packages/stylify/tests/jest/plain-selectors.test.ts
Due: stylify

Minimize duplicated content
  packages/stylify/src/Runtime.ts
Due: stylify

macro is now called without changed this object
  packages/bundler/tests/jest/bundle-specific-compiler-config.test.ts
  packages/nuxt-module/tests/jest/nuxt/input/nuxt.config.js
  packages/nuxt/tests/jest/nuxt/input/nuxt.config.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/tests/jest/custom-macros.test.ts
  packages/stylify/tests/jest/mangle-single-letter-macros.test.ts
  packages/stylify/tests/jest/single-letter-macros.test.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/unplugin/tests/jest/esbuild.test.ts
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/webpack.test.ts
Due: bundler, nuxt, nuxt-module, stylify

Bundler waitOnBundlesProcessed tunning
  packages/bundler/src/Bundler.ts
  packages/unplugin/src/index.ts
Due: bundler

Do not override files when content hasnt changed.
  packages/bundler/src/Bundler.ts
Due: bundler

Remove unused compilation result cache
  packages/nuxt-module/src/index.ts
  packages/nuxt-module/src/webpack-loader.ts
Due: nuxt-module

Cleanup
  packages/stylify/src/Compiler/CompilationResult.ts
Due: stylify

Fix tests
  packages/nuxt-module/src/index.ts
  packages/stylify/src/Compiler/MinifiedSelectorGenerator.ts
  packages/stylify/src/Compiler/defaultPreset.ts
Due: nuxt-module, stylify

Path conditions:
  autoprefixer: any of: packages/autoprefixer/
  bundler: any of: packages/bundler/
  nuxt: any of: packages/nuxt/
  nuxt-module: any of: packages/nuxt-module/
  stylify: any of: packages/stylify/
