Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, nuxt, nuxt-module, stylify

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  autoprefixer:
    paths:
      - packages/autoprefixer/
  bundler:
    paths:
      - packages/bundler/
  nuxt:
    paths:
      - packages/nuxt/
  nuxt-module:
    paths:
      - packages/nuxt-module/
  stylify:
    paths:
      - packages/stylify/

Update README.md
  README.md
Due: none

Added uid utility
  packages/stylify/src/Utilities/index.ts
  packages/stylify/src/Utilities/numbers.ts
Due: stylify

Use uid utility
  packages/stylify/src/Compiler/CompilationResult.ts
Due: stylify

Update webpack playground
  packages/unplugin/package.json
  packages/unplugin/playground/webpack/stylify.config.js
  packages/unplugin/playground/webpack/webpack.config.js
Due: none

Remove configs watching, fix bug when importing config with function.
  packages/stylify/src/Configurator.ts
Due: stylify

Try to find configs in actual working directory.
  packages/unplugin/src/index.ts
Due: none

Do not add config file, that is already defined
  packages/stylify/src/Configurator.ts
Due: stylify

Update to 0.5.6
  build-stats.json
  lerna.json
  package.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Fix issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Add dev tasks to bundler playground
  packages/bundler/playground/package.json
Due: bundler

Allow bundles to be wrapped in CSS layers
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/css-layers.test.ts
  packages/bundler/tests/jest/css-layers/expected/layout.css
  packages/bundler/tests/jest/css-layers/expected/page.css
  packages/bundler/tests/jest/css-layers/expected/stylify-css-layers.css
  packages/bundler/tests/jest/css-layers/input/layout.html
  packages/bundler/tests/jest/css-layers/input/page.html
Due: bundler

Remove unnecessary lock files
  packages/astro/yarn.lock
  packages/bundler/yarn.lock
  packages/nuxt-module/yarn.lock
  packages/nuxt/yarn.lock
Due: bundler, nuxt, nuxt-module

Allow bundler to dynamically add files into bundles by watching a top level directory
  packages/bundler/package.json
  packages/bundler/playground/bundles.mjs
  packages/bundler/src/Bundler.ts
  scripts/build.ts
Due: bundler

Fix dollars escaping in rewritten content
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Allow multiple bundles in astro
  packages/astro/src/index.ts
  packages/astro/tests/jest/astro.test.ts
  packages/astro/tests/jest/astro/input/astro.config.mjs
  packages/astro/tests/jest/astro/input/src/pages/index.astro
Due: none

Devcontainer tunning
  .devcontainer/devcontainer.json
  .dockerignore
Due: none

Astro playground tunning
  packages/astro/playground/astro.config.mjs
  packages/astro/playground/package.json
  packages/astro/playground/server.mjs
Due: none

Astro playground tuning
  packages/astro/playground/.gitignore
  packages/astro/playground/astro.config.mjs
  packages/astro/playground/package.json
  packages/astro/playground/src/components/title.astro
  packages/astro/playground/src/layouts/Layout.astro
  packages/astro/playground/src/pages/index.astro
  packages/astro/playground/src/pages/second.astro
  packages/astro/playground/src/pages/third.astro
  packages/astro/tests/jest/astro/input/package.json
Due: none

Export BundleFileInterface
  packages/bundler/src/Bundler.ts
Due: bundler

Link packages in repo init command
  package.json
Due: none

Update version to 0.5.7
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Update build stats
  build-stats.json
Due: none

Update publish commands
  package.json
Due: none

Astro playground tuning
  packages/astro/playground/astro.config.mjs
  packages/astro/playground/src/pages/index.astro
  packages/astro/playground/src/pages/second.astro
  packages/astro/playground/src/pages/third.astro
Due: none

Fix bundler watch command
  packages/bundler/src/Bundler.ts
Due: bundler

Fix imports
  packages/bundler/src/Bundler.ts
Due: bundler

Update to 0.5.8
  build-stats.json
  lerna.json
  package.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Astro playground tunning
  packages/astro/playground/astro.config.mjs
  packages/astro/playground/src/pages/index.astro
  packages/astro/playground/src/pages/second.astro
  packages/astro/playground/src/pages/third.astro
Due: none

Fix watch files task
  packages/bundler/src/Bundler.ts
Due: bundler

Update for 0.5.9
  build-stats.json
  lerna.json
  package.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Remove is root variable as it is not reliable
  packages/astro/playground/astro.config.mjs
  packages/bundler/src/Bundler.ts
Due: bundler

Update README.md
  packages/stylify/README.md
Due: stylify

Update README.md
  packages/unplugin/README.md
Due: none

Update README.md
  packages/nuxt/README.md
Due: nuxt

Update README.md
  packages/nuxt-module/README.md
Due: nuxt-module

Update README.md
  packages/bundler/README.md
Due: bundler

Update README.md
  packages/astro/README.md
Due: none

Updated package versions for 0.5.10
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify
