Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, stylify

Bundler: Inform about created variable file.
  packages/bundler/src/Bundler.ts
Due: bundler

Bundler: Enable bundle specific compiler config
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config.test.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config/expected/index.css
  packages/bundler/tests/jest/bundle-specific-compiler-config/expected/second.css
  packages/bundler/tests/jest/bundle-specific-compiler-config/input/index.html
  packages/bundler/tests/jest/bundle-specific-compiler-config/input/second.html
Due: bundler

Stylify: Use root instead of html as target element for css variablees
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Fix profiler watch mode build
  scripts/build.ts
Due: none

Stylify: Better error info when variable is missing
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Stylify: Allow variables to be replaced by css variables
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Bundler: Fix missing specific config
  packages/bundler/src/Bundler.ts
Due: bundler

Stylify: Fix tests
  packages/stylify/tests/jest/variables-and-helpers/expected/index.css
Due: stylify

Update README.md
  README.md
Due: none

Add readme to each package
  logo.svg
  packages/autoprefixer/README.md
  packages/bundler/README.md
  packages/bundler/bundler.png
  packages/nuxt-module/README.md
  packages/profiler/README.md
  packages/profiler/profiler.png
  packages/stylify/README.md
Due: autoprefixer, bundler, stylify

Remove unnecessary files and update lerna
  lerna.json
  packages/stylify/tools/native-preset-generator/tmp/.gitignore
Due: stylify

Fix discord url in readme
  packages/autoprefixer/README.md
  packages/bundler/README.md
  packages/nuxt-module/README.md
  packages/profiler/README.md
  packages/stylify/README.md
Due: autoprefixer, bundler, stylify

Fix docs link
  README.md
Due: none

Fixing compatibility with windows
  package.json
  scripts/Build/Build.ts
  scripts/build.ts
  yarn.lock
Due: none

Run tests on pull_request
  .github/workflows/tests.yaml
Due: none

Removed patch version of cross-env.
  package.json
  yarn.lock
Due: none

Fix discord link
  README.md
  packages/autoprefixer/README.md
  packages/bundler/README.md
  packages/nuxt-module/README.md
  packages/profiler/README.md
  packages/stylify/README.md
Due: autoprefixer, bundler, stylify

Fix rollup build on windows
  .gitignore
  package.json
  scripts/build.rollup.config.js
Due: none

Added cross-env for windows support. Updated some imports that weren't working on Windows.
  package.json
  scripts/Build/Build.ts
  scripts/build.ts
  yarn.lock
Due: none

Rename compilerConfig to compiler in bundler configuration
  packages/bundler/playground/bundles.ts
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config.test.ts
  packages/bundler/tests/jest/multiple-files.test.ts
  packages/bundler/tests/jest/normalized-path.test.ts
  packages/bundler/tests/jest/single-file.test.ts
  packages/nuxt-module/src/index.ts
  packages/profiler/stylify.config.js
Due: bundler

Rename rewriteSelectorsAreas to selectorsAreas
  packages/bundler/tests/jest/multiple-files.test.ts
  packages/nuxt-module/src/index.ts
  packages/profiler/stylify.config.js
  packages/stylify/src/Compiler/Compiler.ts
Due: bundler, stylify

Simplify macros setup - filter disallowed characters by default
  .gitignore
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Presets/nativePreset.ts
  packages/stylify/tests/jest/larger-page/expected/index.css
  packages/stylify/tests/jest/larger-page/input/index.html
  packages/stylify/tools/native-preset-generator/index.js
Due: stylify

Match only in specified areas by default
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Update packages version to 0.0.4
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/profiler/package.json
  packages/stylify/package.json
Due: autoprefixer, bundler, stylify

Fix package version
  package.json
Due: none

Ad esm and lib into the profiler files in package.json
  packages/profiler/package.json
Due: none

Multiple components inside a key
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/tests/jest/multiple-components.test.ts
  packages/stylify/tests/jest/multiple-components/expected/index.css
  packages/stylify/tests/jest/multiple-components/input/index.html
Due: stylify

Fix multiple watcher triggers
  packages/bundler/src/Bundler.ts
Due: bundler

Allow single input file. Stop build when no input files are defined.
  packages/bundler/src/Bundler.ts
Due: bundler

Fix console info
  packages/bundler/src/Bundler.ts
Due: bundler

Fix log info
  packages/bundler/src/Bundler.ts
Due: bundler

Fix build size unit label
  packages/bundler/src/Bundler.ts
Due: bundler

Update build commands
  package.json
Due: none

Update versions in packages
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/profiler/package.json
  packages/stylify/package.json
Due: autoprefixer, bundler, stylify

Fix version in generated files
  scripts/Build/BuildConfig.ts
Due: none

Allow bundles configuration when creating a new instance, fix config reload.
  packages/bundler/src/Bundler.ts
Due: bundler

Do not watch configFile when non file is specified
  packages/bundler/src/Bundler.ts
Due: bundler

Update package json versions
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/profiler/package.json
Due: autoprefixer, bundler

Readme-img-fix
  packages/bundler/README.md
Due: bundler

Path conditions:
  autoprefixer: any of: packages/autoprefixer/
  bundler: any of: packages/bundler/
  stylify: any of: packages/stylify/
