Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, stylify

Avoid duplicate content
  packages/stylify/src/Runtime.ts
Due: stylify

Match selectors with vendor prefixes
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Presets/nativePreset.ts
  packages/stylify/tools/native-preset-generator/index.js
Due: stylify

Add tests for vendor prefixed selectors
  packages/stylify/tests/jest/mangle-vendor-prefixed-selectors.test.ts
  packages/stylify/tests/jest/mangle-vendor-prefixed-selectors/expected/index.css
  packages/stylify/tests/jest/mangle-vendor-prefixed-selectors/expected/index.html
  packages/stylify/tests/jest/mangle-vendor-prefixed-selectors/input/index.html
  packages/stylify/tests/jest/vendor-prefixed-selectors.test.ts
  packages/stylify/tests/jest/vendor-prefixed-selectors/expected/index.css
  packages/stylify/tests/jest/vendor-prefixed-selectors/input/index.html
Due: stylify

Update versions
  lerna.json
  package.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/profiler/package.json
  packages/stylify/package.json
Due: autoprefixer, bundler, stylify

Temporary disable types plugin
  scripts/Build/BuildConfig.ts
Due: none

Fix single letter selectors macros matching
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Fix missing es5 files
  scripts/Build/BuildConfig.ts
Due: none

Update tests
  packages/bundler/tests/jest/single-file/expected/index.css
  packages/bundler/tests/jest/single-file/expected/second.css
  packages/stylify/tests/jest/components/expected/index.css
  packages/stylify/tests/jest/mangle-single-letter-macros.test.ts
  packages/stylify/tests/jest/mangle-single-letter-macros/expected/index.css
  packages/stylify/tests/jest/mangle-single-letter-macros/expected/index.html
  packages/stylify/tests/jest/mangle-single-letter-macros/input/index.html
  packages/stylify/tests/jest/plain-selectors/expected/index.css
  packages/stylify/tests/jest/single-letter-macros.test.ts
  packages/stylify/tests/jest/single-letter-macros/expected/index.css
  packages/stylify/tests/jest/single-letter-macros/input/index.html
  packages/stylify/tests/jest/vendor-prefixed-selectors/expected/index.css
Due: bundler, stylify

Fix missing content in contentToProcess
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Runtime.ts
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/components/expected/index.css
  packages/stylify/tests/jest/components/input/index.html
Due: stylify

Update version to 0.0.8
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/profiler/package.json
  packages/stylify/package.json
Due: autoprefixer, bundler, stylify

Fix discord link
  README.md
Due: none

Nuxt module hooks tunning
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/hooks.test.ts
  packages/bundler/tests/jest/hooks/expected/index.css
  packages/bundler/tests/jest/hooks/expected/index.html
  packages/bundler/tests/jest/hooks/expected/second.css
  packages/bundler/tests/jest/hooks/expected/second.html
  packages/bundler/tests/jest/hooks/input/index.html
  packages/bundler/tests/jest/hooks/input/second.html
  packages/bundler/tests/jest/multiple-files.test.ts
  packages/nuxt-module/src/index.ts
Due: bundler

Bundler hooks tunning
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/hooks.test.ts
  packages/bundler/tests/jest/hooks/expected/index.css
  packages/bundler/tests/jest/hooks/expected/index.html
  packages/bundler/tests/jest/hooks/expected/second.css
  packages/bundler/tests/jest/hooks/expected/second.html
  packages/bundler/tests/jest/hooks/input/index.html
  packages/bundler/tests/jest/hooks/input/second.html
  packages/bundler/tests/jest/multiple-files.test.ts
  packages/nuxt-module/src/index.ts
Due: bundler

Update versions to 0.0.9
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/profiler/package.json
  packages/stylify/package.json
Due: autoprefixer, bundler, stylify

Remove unnecessary condition
  packages/bundler/src/Bundler.ts
Due: bundler

Cleanup
  packages/bundler/playground/bundles.ts
Due: bundler

Cleanup
  packages/bundler/playground/second.html
Due: bundler

A few fixes
  packages/bundler/src/Bundler.ts
  packages/nuxt-module/src/index.ts
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
Due: bundler, stylify

first version of webpack plugin for stylify
  .gitignore
  jest.config.js
  package.json
  packages/webpack-plugin/LICENSE
  packages/webpack-plugin/README.md
  packages/webpack-plugin/package.json
  packages/webpack-plugin/playground/.gitignore
  packages/webpack-plugin/playground/index.html
  packages/webpack-plugin/playground/index.js
  packages/webpack-plugin/playground/package.json
  packages/webpack-plugin/playground/webpack.config.js
  packages/webpack-plugin/playground/yarn.lock
  packages/webpack-plugin/src/Webpack.ts
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/tests/jest/single-file-bundle.test.ts
  packages/webpack-plugin/tests/jest/single-file-bundle/expected/index.css
  packages/webpack-plugin/tests/jest/single-file-bundle/expected/main.js
  packages/webpack-plugin/tests/jest/single-file-bundle/input/index.html
  packages/webpack-plugin/tests/jest/single-file-bundle/input/index.js
  packages/webpack-plugin/yarn.lock
  scripts/TypesGenerator/TypesGenerator.ts
  scripts/build.ts
  tests/TestUtils.ts
Due: none

Update version to 0.0.11
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/profiler/package.json
  packages/stylify/package.json
Due: autoprefixer, bundler, stylify

Create new Bundler instance on each build in dev mode
  packages/nuxt-module/src/index.ts
Due: none

Update dependencies in nuxtmodule playground
  packages/nuxt-module/playground/.gitignore
  packages/nuxt-module/playground/stylify.config.js
  packages/nuxt-module/playground/yarn.lock
Due: none

Hooks and content options tunning
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/hooks.test.ts
  packages/bundler/tests/jest/hooks/expected/second.css
  packages/bundler/tests/jest/hooks/input/default.twig
  packages/bundler/tests/jest/hooks/input/layout.twig
  packages/bundler/tests/jest/multiple-files.test.ts
  packages/bundler/tests/jest/multiple-files/expected/second.css
  packages/bundler/tests/jest/multiple-files/expected/second.html
  packages/bundler/tests/jest/multiple-files/expected/second/html.html
  packages/bundler/tests/jest/multiple-files/input/second.html
  packages/bundler/tests/jest/multiple-files/input/second/html.html
Due: bundler

Updated versions
  lerna.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/profiler/package.json
  packages/stylify/package.json
Due: autoprefixer, bundler, stylify

Fix: Deep merge bundler specific config
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config.test.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config/expected/index.css
  packages/bundler/tests/jest/bundle-specific-compiler-config/input/index.html
Due: bundler

numbered breakpoints fix
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/Compiler/MacroMatch.ts
  packages/stylify/tests/jest/dynamic-screens/expected/index.css
  packages/stylify/tests/jest/dynamic-screens/input/index.html
Due: stylify

Update versions to 0.0.13
  lerna.json
  package.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/profiler/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: autoprefixer, bundler, stylify

Make compilerConfig public and internal
  packages/bundler/src/Bundler.ts
Due: bundler

Add content into the playground for testing nuxt content
  packages/nuxt/package.json
  packages/nuxt/playground/app.vue
  packages/nuxt/playground/content/hello-world.md
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/yarn.lock
Due: none

@stylify/nuxt module fixes
  packages/nuxt/src/module.ts
Due: none

Unplugin fixes
  packages/unplugin/src/index.ts
Due: none

Expose 3000 port for nuxt playgrounds local testing
  docker-compose.yml
  packages/nuxt-module/playground/nuxt.config.js
Due: none

Bugfix: Allow components reconfiguration in bundler watch mode
  packages/bundler/playground/bundles.ts
  packages/bundler/playground/index.html
  packages/bundler/src/Bundler.ts
Due: bundler

Fix missing classes after rebuild when in watch mode
  packages/bundler/src/Bundler.ts
Due: bundler

Add defineConfig method
  packages/bundler/src/Bundler.ts
Due: bundler

Add defineConfig method and change interface name
  packages/unplugin/src/index.ts
Due: none

Use unplugin defineConfig method
  packages/nuxt/playground/stylify.config.js
  packages/nuxt/src/module.ts
Due: none

Add define config method
  packages/nuxt-module/src/index.ts
Due: none

Path conditions:
  autoprefixer: any of: packages/autoprefixer/
  bundler: any of: packages/bundler/
  stylify: any of: packages/stylify/
