Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, nuxt, nuxt-module, stylify

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  autoprefixer:
    paths:
      - packages/autoprefixer/
  bundler:
    paths:
      - packages/bundler/
  nuxt:
    paths:
      - packages/nuxt/
  nuxt-module:
    paths:
      - packages/nuxt-module/
  stylify:
    paths:
      - packages/stylify/

Revert missing processedHelpers
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Rename macroMatch to match and use RegExpMatch in components and custom selectors
  packages/astro/tests/jest/astrov2.test.ts
  packages/bundler/tests/jest/bundle-specific-compiler-config.test.ts
  packages/nuxt-module/tests/jest/nuxt/input/nuxt.config.js
  packages/nuxt/tests/jest/nuxt/input/nuxt.config.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/MacroMatch.ts
  packages/stylify/src/Compiler/RegExpMatch.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/src/Compiler/index.ts
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/custom-selectors.test.ts
  packages/stylify/tests/jest/macros.test.ts
  packages/stylify/tests/jest/selectors-mangling.test.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/unplugin/tests/jest/esbuild.test.ts
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/webpack.test.ts
  packages/unplugin/tests/jest/webpack/expected/main.js
  pnpm-lock.yaml
Due: bundler, nuxt, nuxt-module, stylify

Compiler as this to the rescue
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/MacroMatch.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/tests/jest/combined-pages/expected/index.html
  packages/stylify/tests/jest/combined-pages/input/index.html
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/custom-selectors.test.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
Due: stylify

Auf Wiedersehen selectorProperties, won't miss you.
  packages/bundler/tests/jest/bundle-specific-compiler-config.test.ts
  packages/nuxt-module/tests/jest/nuxt/input/nuxt.config.js
  packages/nuxt/tests/jest/nuxt/input/nuxt.config.ts
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/SelectorProperties.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/src/Compiler/index.ts
  packages/stylify/tests/jest/hooks.test.ts
  packages/stylify/tests/jest/macros.test.ts
  packages/stylify/tests/jest/selectors-mangling.test.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/unplugin/tests/jest/esbuild.test.ts
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/webpack.test.ts
Due: bundler, nuxt, nuxt-module, stylify

Bundler vars exports renamed and tests added
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/vars-export.test.ts
  packages/bundler/tests/jest/vars-export/input/index.html
Due: bundler

Disable mangling by default for unplugin, nuxt, astro
  package.json
  packages/astro/src/index.ts
  packages/astro/tests/jest/astrov1/input/astro.config.mjs
  packages/astro/tests/jest/astrov2.test.ts
  packages/astro/tests/jest/astrov2/input/astro.config.mjs
  packages/nuxt-module/playground/stylify.config.ts
  packages/nuxt-module/src/index.ts
  packages/nuxt/src/module.ts
  packages/nuxt/tests/jest/nuxt/input/stylify.config.mjs
  packages/stylify/playground/index.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/unplugin/package.json
  packages/unplugin/src/index.ts
  packages/unplugin/tests/jest/esbuild.test.ts
  packages/unplugin/tests/jest/nextjs/input/next.config.js
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/vite-default-transform.test.ts
  packages/unplugin/tests/jest/vite-react/input/vite.config.js
  packages/unplugin/tests/jest/vite.test.ts
  packages/unplugin/tests/jest/webpack.test.ts
  pnpm-lock.yaml
Due: nuxt, nuxt-module, stylify

Initialize bundles only, when the configuration is fully loaded
  packages/bundler/src/Bundler.ts
Due: bundler

Log errors and warning even when verbosity is disabled
  packages/bundler/src/Bundler.ts
Due: bundler

Configure bundle compiler only if defined
  packages/unplugin/src/index.ts
Due: none

Mangling performance tunning
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Fix command
  package.json
Due: none

Mangling fix
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/selectors-mangling.test.ts
  packages/stylify/tests/jest/selectors-mangling/expected/nested-selector-areas.css
  packages/stylify/tests/jest/selectors-mangling/expected/nested-selector-areas.html
  packages/stylify/tests/jest/selectors-mangling/input/nested-selector-areas.html
Due: stylify

Bundler playground tunning
  packages/bundler/playground/bundles.mjs
Due: bundler

Add selector area for astro.build area
  packages/stylify/src/Compiler/defaultPreset.ts
Due: stylify

Update to 0.6
  build-stats.json
  package.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Do not mangle selectors when in watchmode
  packages/bundler/playground/bundles.mjs
  packages/bundler/src/Bundler.ts
  packages/unplugin/src/index.ts
Due: bundler

Coverage fix
  jest.config.js
Due: none

Fix typescript types hell
  .devcontainer/devcontainer.json
  package.json
  packages/astro/package.json
  packages/astro/src/index.ts
  packages/astro/tests/jest/astrov1.test.ts
  packages/astro/tests/jest/astrov1/input/package.json
  packages/astro/tests/jest/astrov2.test.ts
  packages/astro/tests/jest/astrov2/input/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  packages/stylify/package.json
  packages/unplugin/package.json
  packages/unplugin/src/index.ts
  pnpm-lock.yaml
  scripts/build.ts
  scripts/helpers/esbuild.ts
  tsconfig.json
Due: bundler, nuxt, nuxt-module, stylify

Cleanup
  jest.config.js
  scripts/helpers/esbuild.ts
  tests/__mocks/fileMock.js
Due: none

Update dependencies
  package.json
  packages/astro/package.json
  packages/astro/playground/package.json
  packages/bundler/package.json
  packages/bundler/playground/package.json
  packages/nuxt-module/package.json
  packages/nuxt-module/playground/package.json
  packages/nuxt/package.json
  packages/unplugin/package.json
  pnpm-lock.yaml
Due: bundler, nuxt, nuxt-module

Mangling tunning and fixes
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/selectors-mangling/expected/nested-selector-areas.html
Due: stylify

Sort css properties before generating css
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/CssRecord.ts
Due: stylify

Update to 0.6.1
  build-stats.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Update css properties
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/tools/default-preset-generator/lists/chrome-properties.txt
Due: stylify

Dependencies update
  package.json
  pnpm-lock.yaml
Due: none

Fix types
  packages/astro/src/index.ts
  packages/bundler/src/Bundler.ts
  packages/stylify/src/Compiler/Compiler.ts
Due: bundler, stylify

What the fuck have changed in fast-glob
  packages/bundler/tests/jest/special-chars-in-dirname.test.ts
Due: bundler

Update packages dependencies
  .github/workflows/tests.yaml
  Dockerfile
  package.json
  packages/astro/package.json
  packages/astro/tests/jest/astrov2.test.ts
  packages/astro/tests/jest/astrov2/input/package.json
  packages/bundler/package.json
  packages/nuxt/tests/jest/nuxt/input/nuxt.config.ts
  packages/unplugin/package.json
  packages/unplugin/src/index.ts
  packages/unplugin/tests/jest/webpack/expected/main.js
  pnpm-lock.yaml
Due: bundler, nuxt

Update README.md
  README.md
Due: none

Update deps
  package.json
  pnpm-lock.yaml
Due: none

Remove astro v1 tests
  packages/astro/tests/jest/astrov1.test.ts
  packages/astro/tests/jest/astrov1/input/.gitignore
  packages/astro/tests/jest/astrov1/input/astro.config.mjs
  packages/astro/tests/jest/astrov1/input/package.json
  packages/astro/tests/jest/astrov1/input/src/components/Subtitle.astro
  packages/astro/tests/jest/astrov1/input/src/layouts/Layout.astro
  packages/astro/tests/jest/astrov1/input/src/pages/index.astro
  packages/astro/tests/jest/astrov1/input/src/pages/second.astro
  packages/astro/tests/jest/astrov1/input/stylify.config.mjs
  packages/astro/tests/jest/astrov1/input/tsconfig.json
Due: none

Xs breakpoint
  packages/stylify/src/Compiler/defaultPreset.ts
Due: stylify

Windows and macos unit tests
  .github/workflows/tests.yaml
  tests/TestUtils.ts
Due: none

Update defaultPreset.ts
  packages/stylify/src/Compiler/defaultPreset.ts
Due: stylify

0.7.0
  build-stats.json
  package.json
  packages/bundler/package.json
  packages/stylify/package.json
Due: bundler, stylify

One playground is enough
  package.json
  packages/bundler/playground/.gitignore
  packages/bundler/playground/README.md
  packages/bundler/playground/astro/.gitignore
  packages/bundler/playground/astro/astro.config.js
  packages/bundler/playground/astro/package.json
  packages/bundler/playground/astro/server.mjs
  packages/bundler/playground/astro/src/README.md
  packages/bundler/playground/astro/src/components/title.astro
  packages/bundler/playground/astro/src/env.d.ts
  packages/bundler/playground/astro/src/layouts/Layout.astro
  packages/bundler/playground/astro/src/pages/index.astro
  packages/bundler/playground/astro/src/pages/second.astro
  packages/bundler/playground/astro/src/styles/stylify.css
  packages/bundler/playground/astro/stylify.config.js
  packages/bundler/playground/astro/tsconfig.json
  packages/bundler/playground/astro/vite.config.js
  packages/bundler/playground/bundles.mjs
  packages/bundler/playground/nuxt/README.md
  packages/bundler/playground/nuxt/app.vue
  packages/bundler/playground/nuxt/content/hello-world.md
  packages/bundler/playground/nuxt/nuxt.config.ts
  packages/bundler/playground/nuxt/stylify.config.js
  packages/bundler/playground/package.json
  packages/bundler/playground/src/index.html
  packages/bundler/playground/stylify.config.mjs
  packages/bundler/playground/webpack/README.md
  packages/bundler/playground/webpack/index.html
  packages/bundler/playground/webpack/index.js
  packages/bundler/playground/webpack/package.json
  packages/bundler/playground/webpack/stylify.config.js
  packages/bundler/playground/webpack/webpack.config.js
  pnpm-lock.yaml
Due: bundler
