Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, nuxt, nuxt-module, stylify

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  autoprefixer:
    paths:
      - packages/autoprefixer/
  bundler:
    paths:
      - packages/bundler/
  nuxt:
    paths:
      - packages/nuxt/
  nuxt-module:
    paths:
      - packages/nuxt-module/
  stylify:
    paths:
      - packages/stylify/

Update to 0.5.24
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

feat: mangledSelectorsPrefix and selectorsPrefix
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/Compiler/MinifiedSelectorGenerator.ts
  packages/stylify/tests/jest/macros.test.ts
  packages/stylify/tests/jest/macros/expected/selectors-prefix.css
  packages/stylify/tests/jest/macros/input/selectors-prefix.html
  packages/stylify/tests/jest/selectors-mangling.test.ts
  packages/stylify/tests/jest/selectors-mangling/expected/mangled-selectors-prefix.css
  packages/stylify/tests/jest/selectors-mangling/expected/mangled-selectors-prefix.html
  packages/stylify/tests/jest/selectors-mangling/expected/selectors-prefix.css
  packages/stylify/tests/jest/selectors-mangling/expected/selectors-prefix.html
  packages/stylify/tests/jest/selectors-mangling/input/mangled-selectors-prefix.html
  packages/stylify/tests/jest/selectors-mangling/input/selectors-prefix.html
  packages/stylify/tests/jest/variables-and-helpers.test.ts
Due: stylify

fix: Add selector area
  packages/astro/src/index.ts
Due: none

fix: Escaped selector area mangling
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/tests/jest/selectors-mangling.test.ts
  packages/stylify/tests/jest/selectors-mangling/expected/escaped-match-area.css
  packages/stylify/tests/jest/selectors-mangling/expected/escaped-match-area.yaml
  packages/stylify/tests/jest/selectors-mangling/expected/similar-areas-behind-each-other.css
  packages/stylify/tests/jest/selectors-mangling/expected/similar-areas-behind-each-other.html
  packages/stylify/tests/jest/selectors-mangling/input/escaped-match-area.yaml
  packages/stylify/tests/jest/selectors-mangling/input/similar-areas-behind-each-other.html
Due: stylify

refactor: remove toString
  tests/TestUtils.ts
Due: none

test: Astro V2
  packages/astro/tests/jest/astrov1.test.ts
  packages/astro/tests/jest/astrov1/input/.gitignore
  packages/astro/tests/jest/astrov1/input/astro.config.mjs
  packages/astro/tests/jest/astrov1/input/package.json
  packages/astro/tests/jest/astrov1/input/src/components/Subtitle.astro
  packages/astro/tests/jest/astrov1/input/src/layouts/Layout.astro
  packages/astro/tests/jest/astrov1/input/src/pages/index.astro
  packages/astro/tests/jest/astrov1/input/src/pages/second.astro
  packages/astro/tests/jest/astrov1/input/stylify.config.mjs
  packages/astro/tests/jest/astrov1/input/tsconfig.json
  packages/astro/tests/jest/astrov2.test.ts
  packages/astro/tests/jest/astrov2/input/.gitignore
  packages/astro/tests/jest/astrov2/input/astro.config.mjs
  packages/astro/tests/jest/astrov2/input/package.json
  packages/astro/tests/jest/astrov2/input/src/components/Subtitle.astro
  packages/astro/tests/jest/astrov2/input/src/layouts/Layout.astro
  packages/astro/tests/jest/astrov2/input/src/pages/index.astro
  packages/astro/tests/jest/astrov2/input/src/pages/second.astro
  packages/astro/tests/jest/astrov2/input/stylify.config.mjs
  packages/astro/tests/jest/astrov2/input/tsconfig.json
Due: none

feat: prettier mangled classes output
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/selectors-mangling.test.ts
  packages/stylify/tests/jest/selectors-mangling/expected/whitespace-removal.html
  packages/stylify/tests/jest/selectors-mangling/input/whitespace-removal.html
Due: stylify

fix: Vite tests
  .github/workflows/tests.yaml
  package.json
  packages/unplugin/tests/jest/vite-react.test.ts
Due: none

Update to 0.5.25
  build-stats.json
  lerna.json
  package.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Mangling fix
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/selectors-mangling.test.ts
  packages/stylify/tests/jest/selectors-mangling/expected/identical-ignored-areas.html
  packages/stylify/tests/jest/selectors-mangling/input/identical-ignored-areas.html
Due: stylify

Update to 0.5.26
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

refactoring: Default preset refactoring
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/src/Utilities/colors.ts
  packages/stylify/src/Utilities/index.ts
Due: stylify

refactor: Remove return this
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Pass mangledSelectorsPrefix and selectorsPrefix into unplugin
  packages/unplugin/src/index.ts
Due: none

Update to 0.5.27
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Svelte class:something="" selector area
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/tests/jest/macros/expected/selectors-areas.css
  packages/stylify/tests/jest/macros/input/svelte-match-area.html
  packages/stylify/tests/jest/selectors-mangling.test.ts
  packages/stylify/tests/jest/selectors-mangling/expected/selectors-areas.html
  packages/stylify/tests/jest/selectors-mangling/input/selectors-areas.html
Due: stylify

External variables tunning
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/stylify/tests/jest/variables-and-helpers/expected/third.css
  packages/stylify/tests/jest/variables-and-helpers/input/third.html
Due: stylify

Fix astro module on windows
  packages/astro/package.json
  packages/astro/src/index.ts
  packages/bundler/src/Bundler.ts
  packages/nuxt-module/src/index.ts
Due: bundler, nuxt-module

Add files extensions into astro default bundle
  packages/astro/src/index.ts
Due: none

Add tests
  packages/bundler/tests/jest/watch.test.ts
  packages/bundler/tests/jest/watch/expected/after-config-modification.css
  packages/bundler/tests/jest/watch/expected/before-config-modification.css
  packages/bundler/tests/jest/watch/expected/index.css
  packages/bundler/tests/jest/watch/input/index.html
  packages/bundler/tests/jest/watch/input/stylify.config.js
Due: bundler

Bundler configuration hot reload
  .gitignore
  packages/bundler/playground/bundles.mjs
  packages/bundler/playground/src/index.html
  packages/bundler/playground/stylify.config.mjs
  packages/bundler/src/Bundler.ts
  packages/nuxt-module/src/index.ts
  packages/nuxt/src/module.ts
  packages/nuxt/tests/jest/nuxt/expected/output.css
  packages/nuxt/tests/jest/nuxt/input/nuxt.config.ts
  packages/nuxt/tests/jest/nuxt/input/stylify.config.mjs
  packages/nuxt/tests/jest/nuxt/input/stylify.config.ts
  packages/nuxt/tests/jest/nuxt/input/stylify.custom.config.mjs
  packages/unplugin/src/index.ts
  packages/unplugin/tests/jest/esbuild/expected/output.js
  tests/TestUtils.ts
Due: bundler, nuxt, nuxt-module

Fix variable indentation
  packages/bundler/tests/jest/bundle-specific-compiler-config/expected/index.css
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/components/expected/dynamic-components.css
  packages/stylify/tests/jest/components/expected/mangle-dynamic-components.css
  packages/stylify/tests/jest/variables-and-helpers/expected/index.css
  packages/stylify/tests/jest/variables-and-helpers/expected/scoped-variables.css
  packages/stylify/tests/jest/variables-and-helpers/expected/second.css
Due: bundler, stylify

Eslint ignore files tunning
  .eslintrc.yml
Due: none

Astro playground cleanup
  packages/astro/playground/astro.config.mjs
  packages/astro/playground/src/layouts/Layout.astro
  packages/astro/playground/src/pages/index.astro
  packages/astro/playground/src/pages/second.astro
  packages/astro/playground/src/pages/third.astro
Due: none

Better output stars info
  packages/bundler/src/Bundler.ts
Due: bundler

Disable eslint for floating promise
  packages/bundler/playground/bundles.mjs
Due: bundler

Indent root variables if in dev mode
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Add additional supported file formats
  packages/unplugin/src/index.ts
Due: none

Windows fixes
  packages/astro/src/index.ts
  packages/bundler/src/Bundler.ts
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  packages/unplugin/playground/webpack/stylify.config.js
  packages/unplugin/playground/webpack/webpack.config.js
  packages/unplugin/src/index.ts
Due: bundler, nuxt

Update to 0.5.28
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

feat: Add importDefaultBundle option for disabling defult bundle import
  packages/astro/playground/astro.config.mjs
  packages/astro/src/index.ts
Due: none

Fix interface name
  packages/astro/src/index.ts
Due: none

Update to 0.5.29
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Fix mangling in astro
  packages/astro/tests/jest/astrov2.test.ts
  packages/astro/tests/jest/astrov2/input/src/components/Subtitle.astro
  packages/stylify/src/Compiler/defaultPreset.ts
Due: stylify

Update to 0.5.30
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Fix typo
  README.md
Due: none

Call getElementById('id') instead of querySelector('#id')
  packages/stylify/src/Runtime.ts
Due: stylify

Add svelte matching area
  packages/stylify/src/Compiler/defaultPreset.ts
Due: stylify

Do not run bundler, if the initial run was already executed
  packages/unplugin/src/index.ts
Due: none

Add svx file support for unplugin
  packages/unplugin/src/index.ts
Due: none
