Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, nuxt, nuxt-module, stylify

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  autoprefixer:
    paths:
      - packages/autoprefixer/
  bundler:
    paths:
      - packages/bundler/
  nuxt:
    paths:
      - packages/nuxt/
  nuxt-module:
    paths:
      - packages/nuxt-module/
  stylify:
    paths:
      - packages/stylify/

Fixed random custom selectors order bug
  packages/stylify/src/Compiler/CustomSelector.ts
  packages/stylify/tests/jest/custom-selectors.test.ts
  packages/stylify/tests/jest/custom-selectors/expected/random-order.css
Due: stylify

Remove comment from tests
  packages/stylify/tests/jest/selectors-mangling.test.ts
Due: stylify

Update to 0.5.17
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Fix duplicate custom selector definition
  packages/stylify/src/Compiler/CustomSelector.ts
  packages/stylify/tests/jest/custom-selectors.test.ts
  packages/stylify/tests/jest/custom-selectors/expected/duplicate-definition.css
Due: stylify

Fix similar screens matching
  packages/stylify/src/Compiler/CustomSelector.ts
  packages/stylify/src/Compiler/MacroMatch.ts
  packages/stylify/tests/jest/dynamic-screens.test.ts
  packages/stylify/tests/jest/screens.test.ts
  packages/stylify/tests/jest/screens/expected/index.css
  packages/stylify/tests/jest/screens/expected/similar-screens.css
  packages/stylify/tests/jest/screens/input/index.html
Due: stylify

Update to 0.5.18
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Rebuild whole bundle if compilation result was removed due to an error.
  packages/bundler/src/Bundler.ts
Due: bundler

Nuxt module tunning
  .github/workflows/tests.yaml
  package.json
  packages/nuxt-module/src/index.ts
  packages/nuxt/src/module.ts
Due: nuxt, nuxt-module

Use ts module directly for the playground
  packages/nuxt/playground/nuxt.config.ts
Due: nuxt

Remove postCreateCommand
  .devcontainer/devcontainer.json
Due: none

Nuxt module tunning
  packages/nuxt/src/module.ts
  packages/nuxt/tests/jest/nuxt.test.ts
  packages/nuxt/tests/jest/nuxt/expected/output.css
Due: nuxt

Update to 0.5.19
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Enable dev mode in bundler playground
  packages/bundler/playground/bundles.mjs
Due: bundler

Set changed to true when a custom selector is added.
  packages/stylify/src/Compiler/CssRecord.ts
Due: stylify

Remove version from nuxt module log info
  packages/nuxt/src/module.ts
Due: nuxt

Update to 0.5.20
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Avoid duplicated selectorsOrGenerators in component.
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Drop bundle cache if an error ocured.
  packages/bundler/src/Bundler.ts
Due: bundler

Caching in custom selector
  packages/stylify/src/Compiler/CustomSelector.ts
Due: stylify

Remove unused method
  packages/bundler/src/Bundler.ts
Due: bundler

Update to 0.5.21
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Bundler playground tunning
  packages/bundler/playground/bundles.mjs
Due: bundler

Backslash escaping in mangling fixes
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/aliases-escaping/expected/index.css
  packages/stylify/tests/jest/selectors-mangling/expected/mangle-with-special-characters.css
  packages/stylify/tests/jest/selectors-mangling/expected/mangle-with-special-characters.html
  packages/stylify/tests/jest/selectors-mangling/input/mangle-with-special-characters.html
Due: stylify

Variables should be accesed within a scope where they are defined. Not parent.
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/stylify/tests/jest/variables-and-helpers/expected/scoped-variables.css
Due: stylify

Pseudo classes tokenization
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/MacroMatch.ts
Due: stylify

Update to 0.5.22
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Add playground for node
  playground.mjs
Due: none

CS
  packages/stylify/src/Compiler/CustomSelector.ts
Due: stylify

One does not simply mangle chained selectors
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Utilities/index.ts
  packages/stylify/src/Utilities/strings.ts
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/components/expected/mangle-dynamic-components.css
Due: stylify

External variables content option
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/content-options.test.ts
  packages/stylify/tests/jest/content-options/expected/index.css
  packages/stylify/tests/jest/content-options/input/index.html
Due: stylify

Match selectors within processed JSX objects.
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/unplugin/src/index.ts
  packages/unplugin/tests/jest/vite-react.test.ts
  packages/unplugin/tests/jest/vite-react/expected/output.css
  packages/unplugin/tests/jest/vite-react/input/.gitignore
  packages/unplugin/tests/jest/vite-react/input/index.html
  packages/unplugin/tests/jest/vite-react/input/package.json
  packages/unplugin/tests/jest/vite-react/input/src/App.jsx
  packages/unplugin/tests/jest/vite-react/input/src/Button.jsx
  packages/unplugin/tests/jest/vite-react/input/src/main.jsx
  packages/unplugin/tests/jest/vite-react/input/vite.config.js
Due: stylify

Fix mangling alghoritm
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/Compiler/MinifiedSelectorGenerator.ts
  packages/stylify/tests/jest/components/expected/mangle-dynamic-components.css
Due: stylify

Do not generate mangled selector if mangling is disabled
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Twig match areas
  packages/stylify/src/Compiler/defaultPreset.ts
  packages/stylify/tests/jest/custom-macros.test.ts
  packages/stylify/tests/jest/macros.test.ts
  packages/stylify/tests/jest/macros/expected/custom-macros.css
  packages/stylify/tests/jest/macros/expected/selectors-areas.css
  packages/stylify/tests/jest/macros/expected/single-letter-macros.css
  packages/stylify/tests/jest/macros/input/custom-macros.html
  packages/stylify/tests/jest/macros/input/selectors-areas.html
  packages/stylify/tests/jest/macros/input/single-letter-macros.html
  packages/stylify/tests/jest/screens.test.ts
  packages/stylify/tests/jest/selectors-mangling.test.ts
  packages/stylify/tests/jest/selectors-mangling/expected/chained-classes-from-custom-selector.css
  packages/stylify/tests/jest/selectors-mangling/expected/chained-classes-from-custom-selector.html
  packages/stylify/tests/jest/selectors-mangling/input/chained-classes-from-custom-selector.html
  packages/stylify/tests/jest/single-letter-macros.test.ts
Due: stylify

Updated readme
  README.md
  packages/astro/README.md
  packages/bundler/README.md
  packages/nuxt-module/README.md
  packages/nuxt/README.md
  packages/stylify/README.md
  packages/unplugin/README.md
Due: bundler, nuxt, nuxt-module, stylify

Update to 0.5.23
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Add stop watchers method
  packages/bundler/src/Bundler.ts
Due: bundler

Add watchmode test
  packages/bundler/tests/jest/watch.test.ts
  packages/bundler/tests/jest/watch/expected/index.css
  packages/bundler/tests/jest/watch/input/index.html
Due: bundler

Set compilation result to changed if cssRecord is configured
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Remove console log from tests
  packages/stylify/tests/jest/macros.test.ts
Due: stylify
