Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, nuxt, nuxt-module, stylify

Remove reset method
  packages/stylify/src/Compiler/MinifiedSelectorGenerator.ts
  packages/stylify/tests/jest/components.test.ts
Due: stylify

Cleanup
  packages/unplugin/src/index.ts
Due: none

Cleanup
  packages/stylify/src/Compiler/Compiler.ts
  packages/unplugin/src/index.ts
Due: stylify

Fix white ending new line in rewritten file
  packages/bundler/src/Bundler.ts
Due: bundler

Cleanup
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Reexport hooks in browser export
  packages/stylify/src/index.browser.ts
Due: stylify

Rename rewriteOnlyInAreas to rewriteOnlyInSelectorsAreas
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Substr is deprecated
  packages/stylify/src/Compiler/CompilationResult.ts
Due: stylify

Fix new line when writing file
  packages/bundler/src/Bundler.ts
Due: bundler

Update version to 0.5.0
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

More flexible unplugin configuration
  packages/unplugin/src/index.ts
Due: none

Update version to 0.5.1
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Update build stats
  build-stats.json
Due: none

Update version to 0.5.2
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Fix condition for mangling selectors
  packages/stylify/src/Compiler/Compiler.ts
  packages/unplugin/src/index.ts
Due: stylify

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create SECURITY.md
  .github/SECURITY.md
Due: none

Switch to yarn workspaces from lerna
  package.json
  packages/unplugin/tests/jest/webpack/expected/main.js
  yarn.lock
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Fix bug when incorrectly replaced white characters by a space
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/components/expected/comment-components.css
  packages/stylify/tests/jest/components/input/comment-components.html
Due: stylify

Update to 0.5.3
  build-stats.json
  lerna.json
  package.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
  yarn.lock
Due: bundler, nuxt, nuxt-module, stylify

Add files via upload
  stylify-intro-v2.gif
Due: none

Update README.md
  README.md
Due: none

Delete stylify-intro.gif
  stylify-intro.gif
Due: none

Use local docker compose and dockerfile for devcontainer
  .devcontainer/devcontainer.json
  Dockerfile
  docker-compose.yml
Due: none

Remove css
  packages/nuxt/playground/usr/share/nginx/html/packages/nuxt/playground/assets/stylify.css
Due: nuxt

Cleanup
  packages/stylify/tests/jest/components.test.ts
Due: stylify

Nuxt fix error when no watch option is set.
  packages/nuxt-module/src/index.ts
  packages/nuxt/src/module.ts
Due: nuxt, nuxt-module

Expose 4000 port
  Dockerfile
  docker-compose.yml
Due: none

Cleanup
  package.json
Due: none

Unplugin fixes. Defalt bundler and custom bundlers. This can handle multiple config loads like in next without breaking bundling process.
  packages/unplugin/src/index.ts
  packages/unplugin/tests/jest/nextjs.test.ts
  packages/unplugin/tests/jest/nextjs/expected/index.css
  packages/unplugin/tests/jest/nextjs/input/.gitignore
  packages/unplugin/tests/jest/nextjs/input/README.md
  packages/unplugin/tests/jest/nextjs/input/next.config.js
  packages/unplugin/tests/jest/nextjs/input/package.json
  packages/unplugin/tests/jest/nextjs/input/pages/_app.tsx
  packages/unplugin/tests/jest/nextjs/input/pages/index.tsx
  packages/unplugin/tests/jest/nextjs/input/tsconfig.json
  packages/unplugin/tests/jest/nextjs/input/yarn.lock
Due: none

Nuxt fixes: Mangle selectors in content
  packages/nuxt/playground/.gitignore
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/playground/usr/share/nginx/html/packages/nuxt/playground/assets/stylify.css
  packages/nuxt/src/module.ts
  packages/nuxt/tests/jest/nuxt.test.ts
  packages/nuxt/tests/jest/nuxt/expected/output.css
  packages/nuxt/tests/jest/nuxt/input/content/hello-world.md
  packages/nuxt/tests/jest/nuxt/input/nuxt.config.ts
  packages/nuxt/tests/jest/nuxt/input/package.json
  packages/nuxt/tests/jest/nuxt/input/yarn.lock
Due: nuxt

Cleanup
  packages/nuxt/playground/.gitignore
  packages/nuxt/playground/usr/share/nginx/html/packages/nuxt/playground/assets/stylify.css
  packages/unplugin/tests/jest/nextjs/input/README.md
Due: nuxt

Return to debian. Alpine doesn't works well with git volumes
  .devcontainer/Dockerfile
  Dockerfile
Due: none

Update version to 0.5.4
  .devcontainer/devcontainer.json
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Added how to contribute nodes
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  packages/astro/playground/README.md
  packages/bundler/playground/README.md
  packages/bundler/playground/bundles.mjs
  packages/bundler/playground/package.json
  packages/nuxt-module/playground/README.md
  packages/nuxt/playground/README.md
  packages/unplugin/playground/webpack/README.md
Due: bundler, nuxt, nuxt-module

Replace multiple variables in one selector
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/variables-and-helpers/expected/index.css
  packages/stylify/tests/jest/variables-and-helpers/input/index.html
Due: stylify

Update version to 0.5.5
  build-stats.json
  lerna.json
  package.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Path conditions:
  autoprefixer: any of: packages/autoprefixer/
  bundler: any of: packages/bundler/
  nuxt: any of: packages/nuxt/
  nuxt-module: any of: packages/nuxt-module/
  stylify: any of: packages/stylify/
