Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, bundler, nuxt, nuxt-module, stylify

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  autoprefixer:
    paths:
      - packages/autoprefixer/
  bundler:
    paths:
      - packages/bundler/
  nuxt:
    paths:
      - packages/nuxt/
  nuxt-module:
    paths:
      - packages/nuxt-module/
  stylify:
    paths:
      - packages/stylify/

Fix generated files comparing
  packages/bundler/src/Bundler.ts
Due: bundler

Update README.md
  README.md
Due: none

Remove unused shouldBeGenerated option
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
Due: stylify

Remove unused selectorsList option
  packages/stylify/src/Compiler/CompilationResult.ts
Due: stylify

Configure CSS record scope through configure method
  packages/bundler/src/Bundler.ts
Due: bundler

Configuration method fix
  packages/stylify/src/Compiler/CssRecord.ts
Due: stylify

Utility should not be generated, if not matched within a content
  packages/bundler/tests/jest/bundle-specific-compiler-config/expected/index.css
  packages/bundler/tests/jest/single-file/expected/index.css
  packages/bundler/tests/jest/single-file/expected/second.css
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/tests/jest/components/expected/comment-components.css
  packages/stylify/tests/jest/components/expected/index.css
  packages/stylify/tests/jest/components/expected/mangle-selectors.css
  packages/stylify/tests/jest/components/expected/nested-syntax-mangled.css
  packages/stylify/tests/jest/components/expected/nested-syntax-mangled.html
  packages/stylify/tests/jest/components/expected/nested-syntax.css
  packages/stylify/tests/jest/custom-selectors/expected/index.css
  packages/stylify/tests/jest/multiple-components/expected/index.css
Due: bundler, stylify

Multiple properties can be wrapped into pseudo class or screen group
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/custom-selectors/expected/index.css
  packages/stylify/tests/jest/custom-selectors/input/index.html
Due: stylify

Move multiple components test into components test
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/components/expected/multiple-components.css
  packages/stylify/tests/jest/components/input/multiple-components.html
  packages/stylify/tests/jest/multiple-components.test.ts
  packages/stylify/tests/jest/multistep-compilation/expected/index.css
Due: stylify

Update tests
  packages/stylify/tests/jest/hooks.test.ts
  packages/stylify/tests/jest/hooks/expected/index.css
  packages/stylify/tests/jest/hooks/input/index.html
  packages/stylify/tests/jest/multistep-compilation.test.ts
Due: stylify

Do not process macros if content is empty
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Allow setting utilityShouldBeGenerated to true, if matched in component before matched in content
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
Due: stylify

Updated readmes
  README.md
  packages/astro/README.md
  packages/bundler/README.md
  packages/nuxt-module/README.md
  packages/nuxt/README.md
  packages/stylify/README.md
  packages/unplugin/README.md
Due: bundler, nuxt, nuxt-module, stylify

Fix readme - use gem instead of checkbox because Github replaces it by it's own emoji
  README.md
  packages/astro/README.md
  packages/bundler/README.md
  packages/nuxt-module/README.md
  packages/nuxt/README.md
  packages/stylify/README.md
  packages/unplugin/README.md
Due: bundler, nuxt, nuxt-module, stylify

Updated logo in readmes
  README.md
  packages/astro/README.md
  packages/bundler/README.md
  packages/nuxt-module/README.md
  packages/nuxt/README.md
  packages/stylify/README.md
  packages/unplugin/README.md
Due: bundler, nuxt, nuxt-module, stylify

Fixed condition type error
  packages/bundler/src/Bundler.ts
Due: bundler

United should mangle selectors condition
  packages/unplugin/src/index.ts
Due: none

Updated unplugin tests
  packages/unplugin/package.json
  packages/unplugin/tests/jest/rollup.test.ts
  packages/unplugin/tests/jest/rollup/expected/index.css
  packages/unplugin/tests/jest/rollup/expected/main.js
  packages/unplugin/tests/jest/rollup/input/index.js
  packages/unplugin/tests/jest/vite-default-transform.test.ts
  packages/unplugin/tests/jest/vite-default-transform/expected/index.js
  packages/unplugin/tests/jest/vite.test.ts
  packages/unplugin/tests/jest/vite/expected/index.js
Due: none

Removed unused postcss plugin
  scripts/helpers/esbuild.ts
Due: none

Updated dependencies
  package.json
  yarn.lock
Due: none

Aliases escaping
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/MacroMatch.ts
  packages/stylify/tests/jest/aliases-escaping.test.ts
  packages/stylify/tests/jest/aliases-escaping/expected/index.css
  packages/stylify/tests/jest/aliases-escaping/expected/mangled.css
  packages/stylify/tests/jest/aliases-escaping/expected/mangled.html
  packages/stylify/tests/jest/aliases-escaping/input/index.html
  packages/stylify/tests/jest/aliases-escaping/input/mangled.html
  packages/stylify/tests/jest/components/expected/nested-syntax.css
  packages/stylify/tests/jest/custom-selectors/expected/index.css
Due: stylify

Add visual studio live server extension into the devcontainer
  .devcontainer/devcontainer.json
Due: none

Update version to 0.5.11
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Dynamic components
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/components.test.ts
  packages/stylify/tests/jest/components/expected/dynamic-components.css
  packages/stylify/tests/jest/components/expected/mangle-dynamic-components.css
  packages/stylify/tests/jest/components/expected/mangle-dynamic-components.html
  packages/stylify/tests/jest/components/input/dynamic-components.html
  packages/stylify/tests/jest/components/input/mangle-dynamic-components.html
Due: stylify

Update to 0.5.12
  build-stats.json
  lerna.json
  package.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Allow passing already normalized file paths
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/special-chars-in-dirname.test.ts
  packages/bundler/tests/jest/special-chars-in-dirname/expected/index.css
  packages/bundler/tests/jest/special-chars-in-dirname/input/(themes)/(default)/dir/(nested)/another.html
  packages/bundler/tests/jest/special-chars-in-dirname/input/(themes)/(default)/dir/test.html
  packages/bundler/tests/jest/special-chars-in-dirname/input/(themes)/(default)/index.svelte
  packages/bundler/tests/jest/special-chars-in-dirname/input/(themes)/index.html
  packages/stylify/tests/jest/components.test.ts
Due: bundler, stylify

Update to 0.5.13
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Do not check for glob, when direct file path is passed
  packages/bundler/src/Bundler.ts
Due: bundler

Use chokidar to watch files
  packages/bundler/package.json
  packages/bundler/playground/bundles.mjs
  packages/bundler/playground/index.html
  packages/bundler/playground/src/index.html
  packages/bundler/src/Bundler.ts
  scripts/build.ts
  yarn.lock
Due: bundler

Update version to 0.5.14
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

External variables feature
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/variables-and-helpers.test.ts
  packages/stylify/tests/jest/variables-and-helpers/expected/third.css
  packages/stylify/tests/jest/variables-and-helpers/input/third.html
Due: stylify

Update to 0.5.15
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify

Add jest extension into dev container
  .devcontainer/devcontainer.json
Due: none

Unite selector mangling tests
  packages/stylify/tests/jest/mangle-duplicate-selectors.test.ts
  packages/stylify/tests/jest/mangle-single-letter-macros.test.ts
  packages/stylify/tests/jest/mangle-with-special-characters.test.ts
  packages/stylify/tests/jest/selectors-mangling.test.ts
  packages/stylify/tests/jest/selectors-mangling/expected/components-and-custom-selectors-collision.css
  packages/stylify/tests/jest/selectors-mangling/expected/components-and-custom-selectors-collision.html
  packages/stylify/tests/jest/selectors-mangling/expected/mangle-duplicate-selectors.css
  packages/stylify/tests/jest/selectors-mangling/expected/mangle-duplicate-selectors.html
  packages/stylify/tests/jest/selectors-mangling/expected/mangle-single-letter-macros.css
  packages/stylify/tests/jest/selectors-mangling/expected/mangle-single-letter-macros.html
  packages/stylify/tests/jest/selectors-mangling/expected/mangle-with-special-characters.css
  packages/stylify/tests/jest/selectors-mangling/expected/mangle-with-special-characters.html
  packages/stylify/tests/jest/selectors-mangling/input/components-and-custom-selectors-collision.html
  packages/stylify/tests/jest/selectors-mangling/input/mangle-duplicate-selectors.html
  packages/stylify/tests/jest/selectors-mangling/input/mangle-single-letter-macros.html
  packages/stylify/tests/jest/selectors-mangling/input/mangle-with-special-characters.html
Due: stylify

CS
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Fix cs
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Fix typehint: Bundle Files can be string or array of strings
  packages/bundler/src/Bundler.ts
Due: bundler

Fix: CSS layers without export
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/css-layers.test.ts
  packages/bundler/tests/jest/css-layers/expected/without-export.css
  packages/bundler/tests/jest/css-layers/input/without-export.html
Due: bundler

CS fixes
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/css-layers.test.ts
  packages/unplugin/src/index.ts
Due: bundler

Update to 0.5.16
  build-stats.json
  lerna.json
  packages/astro/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt/package.json
  packages/stylify/package.json
  packages/unplugin/package.json
Due: bundler, nuxt, nuxt-module, stylify
